[2017-07-08 09:25] ErikEJ opened #1 "Re-enable test project"

[2017-07-08 09:26] ErikEJ opened #2 "Update readme.md"

[2017-07-08 16:38] #2 closed

[2017-07-08 16:41] ErikEJ opened #3 "Remove unneeded source files"
sln files, and unnneeded folders in src and test

[2017-07-09 09:24] #1 closed

[2017-07-09 09:24] #3 closed

[2017-07-09 09:31] ErikEJ opened #4 "Consider removing more unneeded files"
Tools, .nuget ?

[2017-07-09 10:46] #4 closed

[2017-07-10 16:57] ErikEJ opened #6 "Config file issue"
See https://github.com/aspnet/EntityFramework6/issues/314

[2017-07-11 13:14] ErikEJ commented on #6
Suggested fix did not work!

[2017-07-16 07:15] fedora13 commented on #6
Right click on the DataModel project and "Set as Startup Project" should help

[2017-07-16 07:37] ErikEJ commented on #6
@fedora13 Was this a comment in regards to testing the fix? (Which is available in the daily build)

[2017-07-16 08:41] fedora13 commented on #6
@ErikEJ No, I guess. I download the tool today and had exactly same issue but I resolved it with the above step

[2017-07-16 08:51] ErikEJ commented on #6
@fedora13 which error message did you get?

[2017-07-16 10:10] fedora13 commented on #6
@ErikEJ the error is "can't find the config file"..maybe because i set startup as my main app instead of the data model.  At first I thought it related to the issue #314

[2017-07-16 10:44] ErikEJ commented on #6
I think it is not related...

[2017-07-17 13:01] CZEMacLeod commented on #6
The new fix is working fine for me now.
I think we should add some mechanism for cleaning up the temp files after the commands have run though.

[2017-07-17 13:04] ErikEJ opened #10 "Clean up config files from temp folder"
related to #6 - we should add some mechanism for cleaning up the temp files after the commands have run though.

[2017-07-17 13:05] ErikEJ commented on #6
Great news - I have logged: https://github.com/ErikEJ/EntityFramework6PowerTools/issues/10

[2017-07-17 13:05] #6 closed

[2017-07-17 13:38] ErikEJ opened #11 "Add release notes"

[2017-07-18 08:47] ErikEJ opened #12 "Make build work on pure VS 2017 machine"

[2017-07-19 07:21] #11 closed

[2017-07-19 11:15] #10 closed

[2017-07-19 11:36] ErikEJ commented on #6
This is now live on Marketplace with clean up of temp files - thanks for a great contribution!

[2017-08-12 02:50] micheleissa opened #14 "A constructible type deriving from DbContext could not be found in the selected file"
Hello,
 I have my Context deriven from IdentityDbContext which internally inherits from DbContext.  Entity Framework menu-item is available when I right-click the Context file. When I try to select View Entity Data Model DDL SQL option I get the error :
A constructible type deriving from DbContext could not be found in the selected file
According to the readme, the tool works with any type derived

[2017-08-12 03:28] ErikEJ commented on #14
Would be great if you could provide a repro porject

[2017-08-12 05:58] micheleissa commented on #14
[TestEF.zip](https://github.com/ErikEJ/EntityFramework6PowerTools/files/1219538/TestEF.zip)
See attached
Thank you.

[2017-08-14 06:53] ErikEJ commented on #14
Thanks for your repro project - EF Power Tools do not support EF Core!

[2017-08-14 06:53] #14 closed

[2017-08-14 06:56] ErikEJ commented on #14
I see this in the description on MarketPlace:

Useful design-time utilities for **EF 6**, accessible through the Visual Studio Solution Explorer context menu.

When right-clicking on a file containing a derived DbContext class, the following context menu functions are available:

[2017-09-08 23:50] ChrisLethem opened #15 "Can't Find Connectionstring match the DBContext"
I Just installed the power tool so that I could get a visual of the data model.  But alas, I am unable to user the power tool as the extension is unable to find the connectstring in the web.config file. or the App.Config file.

[2017-09-09 06:11] ErikEJ commented on #15
Is there a useable app.config file present in the project with the edmx model?

[2017-09-09 16:02] ChrisLethem commented on #15
I implemented the code first with existing database. So no edmx file.
I did then create an app.config file and added it to the project but I still received an error message that the connection string could not be found.
I hope this info is helpful.
Sincerely
Chris

Sent from my iPhone

[2017-09-09 21:48] ErikEJ commented on #15
I think I would need a reproduction project.

[2017-09-10 04:27] ChrisLethem commented on #15
Let me see if I can zip up the project for your perusal.
I will get something to you by tomorrow.
CHEERS
Chris Lethem

On Sat, Sep 9, 2017 at 11:48 AM, Erik Ejlskov Jensen <
notifications@github.com> wrote:

[2017-09-10 08:31] ErikEJ commented on #15
Which power tools version do you have installed (you can see it in Help, About in VS) ?

[2017-09-19 11:07] ErikEJ commented on #15
Closing as no repro project received -

[2017-09-19 11:07] #15 closed

[2017-10-10 12:29] shawty opened #16 "Cannot find DbContext in file"
Hi Erik,
Just been trying this in VS2017 with a DotNet core app (Created using the new SPA templates by Steve Sanderson)

Everything works ok, and builds, but right clicking on my Data context file, and going
**"Entity Framework -> View Entity data model"**

Always results in the project being built, and then failing at the end with:
**"A construct-able type deriving from DbContext could not be fo

[2017-10-10 13:27] ErikEJ commented on #16
This is the EF 6 Power Tools and you use EF Core! You can try my EF Core Power Tools instead.

[2017-10-10 15:33] shawty commented on #16
Ah ok, I was not aware there was a separate one for core :-)

Can you give me the link to the VS Market place page for it please, and I will try.

If this is a case of mistaken Identity and the core version works, then I'll open a new issue, please close this one.

[2017-10-10 16:18] ErikEJ commented on #16
https://marketplace.visualstudio.com/items?itemName=ErikEJ.EFCorePowerTools - but just go to Tools, Extensions and Updates in VS, and search online there!

[2017-10-10 16:18] #16 closed

[2017-10-10 21:35] shawty commented on #16
Thanks :-)

[2017-10-25 05:26] tibinthk opened #19 "Generate View is throwing Exception"
I am getting the following exception, when I tried to create a precompiled view of a DB context.

The Entity framework Provider Type 'System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer' registred in the application config file for ADO.net provider with invariant Name 'System.Data.SqlClient' could not be loaded. Make Sure that the assembly-qualified name is used in the asse

[2017-10-25 05:32] ErikEJ commented on #19
Could you share your project?
Also, which VS version and EF version?

[2017-10-25 11:29] tibinthk commented on #19
EF 6.1.3
VS 2010 Professional

[2017-10-25 11:30] ErikEJ commented on #19
OK, then you are not using this tool, it only works for VS 2015 and later

[2017-10-25 11:30] #19 closed

[2017-10-26 05:56] ErikEJ opened #20 "Add About dialog / menu item"

[2017-10-30 19:19] doggy8088 opened #21 "Generating Pre-compiled Views from MSBuild"
Is it possible to Generating Pre-compiled Views from MSBuild at this time?

[2017-11-28 10:25] AlexKichkailo opened #22 "Generate Views does not work if model uses HasIndex (new API in 6.2)"
Below is a simple project to reproduce the problem. Note that it uses EF 6.2

[EFToolsHasIndexIssue.zip](https://github.com/ErikEJ/EntityFramework6PowerTools/files/1509397/EFToolsHasIndexIssue.zip)

The error message in the Output window is

`System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.MissingMethodException: Method not found:

[2017-11-28 11:21] AlexKichkailo commented on #22
As a workaround replace EntityFramework.dll and EntityFramework.SqlServer.dll in C:/Program Files (x86)/Microsoft Visual Studio/2017/<VSEdition>/Common7/IDE/ with the EntityFramework 6.2.0 dlls

[2017-11-28 11:40] ErikEJ commented on #22
I think the missing piece is an update of the EF 6 Tools in Visual Studio...

[2017-11-28 11:42] ErikEJ commented on #21
I think you can use edmgen2 for that: https://www.tabsoverspaces.com/228787-make-your-entity-framework-model-faster-with-edmgen2/?utm_source=blog.cincura.net

[2017-11-28 11:42] #21 closed

[2017-11-28 12:30] AlexKichkailo commented on #22
That's interesting. I have the latest version of VS 2017. It's updated today. I reinstalled EF Tools via Programs and Features and can confirm that EF Tools in VS 2017 as of today still use EF 6.1.40302.

Why not to use the EF library referenced in the current active project? I've already implemented this change and can send a PR if it makes sense.

[2017-11-28 12:56] ErikEJ commented on #22
I would like to see that change/PR for sure.

As you can see in the blog post here, the EF 6.2 tools are delayed in VS 2017: https://blogs.msdn.microsoft.com/dotnet/2017/10/26/entity-framework-6-2-runtime-released/

[2017-11-28 13:17] AlexKichkailo commented on #22
[Here ](https://github.com/ErikEJ/EntityFramework6PowerTools/pull/23)is a PR

[2017-11-29 07:12] MajorMajor0 opened #24 "No Context Menu After Install"
Windows 10
Visual Studio Community 2017 v 15.3.3

The application is currently built on the following
	- .NET 4.6.1
	- SQLite 1.0.106
	- Entity Framework 6.2.0
	- Database first

Apparent successful install of Entity Framework 6 Power Tools Community Edition 0.9.42
Extension shows up as installed under Extensions and updates
No Entity Framework context menu when right clicking on any file

[2017-11-29 07:20] ErikEJ commented on #24
Is it a VB project?

[2017-11-29 11:42] #20 closed

[2017-11-29 15:30] MajorMajor0 commented on #24
No sir. C#, WPF.

[2017-11-29 16:15] ErikEJ commented on #24
Can you provide a repro project.. ?

[2017-11-29 16:20] MajorMajor0 commented on #24
Will do this evening.

[2017-11-29 16:25] MajorMajor0 commented on #24
I should ask before you spend time debugging, is there a step I should have taken after running the vsix file to make the extension active in the project?

[2017-11-30 04:40] MajorMajor0 commented on #24
so posted screens of the other The connection string is hard-coded, so the project directory is "C:\Source\Repro" There is really nothing to this project. I've also posted screens of the other extensions that are apparently installed. I have no recollection of installing the overwhelming majority of these.

[Repro.zip](https://github.com/ErikEJ/EntityFramework6PowerTools/files/1516539/Repro.zip)

[2017-12-01 03:43] jason1004 opened #26 "安装之后，VS2017 菜单图标不见了"
![image](https://user-images.githubusercontent.com/13719529/33467059-d204a3c0-d68c-11e7-860e-422aab166119.png)

[2017-12-01 13:43] ErikEJ commented on #26
How is this related to this extension?

[2017-12-01 14:40] jason1004 commented on #26
After installation, the menu is gone

[2017-12-01 14:42] ErikEJ commented on #26
And if you uninstall?

[2017-12-01 14:47] jason1004 commented on #26
After uninstall the menu is still invisible, fix the vs to see. But once again, the menu is gone.

[2017-12-01 16:01] ErikEJ commented on #26
Please describe step by step how this is related to EF 6 Power Tools

[2017-12-01 16:51] MajorMajor0 commented on #24
In addition to the Repro project above, the actual project is here.
https://github.com/MajorMajor0/Robin

[2017-12-01 19:45] gh5692 opened #27 "System.InvalidCastException"
I get the following error when using the context menu "Entity Framework"->"View Entity Data Model (Read-only)".

_System.InvalidCastException: Unable to cast COM object of type 'System.__ComObject' to interface type 'Microsoft.VisualStudio.Shell.Interop.IVsAggregatableProject'. This operation failed because the QueryInterface call on the COM component for the interface with IID '{FFB2E715-7312-4B9

[2017-12-02 13:21] ErikEJ commented on #27
What type of project is that?

[2017-12-02 13:21] ErikEJ commented on #27
Can you maybe share the project?

[2017-12-02 13:32] ErikEJ commented on #24
The PowerTools are mainly for projects without an EDMX file, in order to invoke them anyway, you must expand the EDMX file and right click on the ReproDataModel.Context.cs file to  get the "Entity Framework" menu

[2017-12-03 05:01] MajorMajor0 commented on #24
There is no context menu regardless of which file I click on. I don't really need any of the power tools other than generating views. I'm trying to precompile the views to speed up the first queries, which are painfully slow right now. All of the guidance that I've found on compiling views seems to not work with SQLite.

[2017-12-03 07:27] ErikEJ commented on #24
I have no issue with getting the context menu to show on my system, for the Context.cs file or the EDMX file. So I am suspecting that your VS install is somehow broken, maybe you have duplicate installs of the extension, you can check you Extensions folder in %localappdata%

[2017-12-04 14:29] gh5692 commented on #27
I'm not allowed to share the project but it's a .NET Framework 4.7 Class Library project.

[2017-12-04 14:31] ErikEJ commented on #27
Can you show me the top of the csproj file?

[2017-12-04 14:44] gh5692 commented on #27
Here is an excerpt of the csproj file.

<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />
  <PropertyGroup>
    <Configuration Conditi

[2017-12-04 16:03] ErikEJ commented on #26
Closing, as not details received - feel free to reopen when more details are available

[2017-12-04 16:03] #26 closed

[2017-12-04 16:13] ErikEJ commented on #27
With just this package installed, I am unable to reproduce - what exact VS version are you using? I am using 15.4.4

[code]

[2017-12-04 16:17] gh5692 commented on #27
Microsoft Visual Studio Professional 2017
Version 15.4.5
VisualStudio.15.Release/15.4.5+27004.2010
Microsoft .NET Framework
Version 4.7.02053

I'll run a repair and let you know the results.

[2017-12-04 16:19] ErikEJ commented on #27
I do not have the guts to move to 15.4.5 ...

[2017-12-04 16:31] gh5692 commented on #27
I created a new project and did a reverse engineer using the "ADO.NET Entity Data Model" "Code First from database" option.  I don't get the error for this project so I'm going to hold off on the repair.  I wonder if there is a conflict with another tool, a problem with the project or perhaps something with the code first classes causing the issue.

[2017-12-04 16:56] ErikEJ commented on #27
Ok, closing for now

[2017-12-04 16:56] #27 closed

[2017-12-05 08:05] MajorMajor0 commented on #24
Thanks. Scrubbing VS deeply from the system and reinstalling solved the problem.

[2017-12-05 08:05] #24 closed

[2017-12-05 18:31] #12 closed

[2017-12-05 18:32] ErikEJ opened #29 "Remove unneeded references/packages"
TextManager...

[2017-12-06 16:27] gh5692 commented on #27
The issue was the project containing the context was not set as the StartUp project.  If I change it to the startup project the error is not raised and the diagram opens as expected.

[2017-12-06 17:12] ErikEJ commented on #27
Thanks for following up - nice to know!

[2017-12-07 12:29] #29 closed

[2017-12-14 10:56] ErikEJ opened #30 "Make package async"
https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-asyncpackage-to-load-vspackages-in-the-background

https://github.com/ErikEJ/SqlCeToolbox/commit/84b0461706af27b76dccd2188b62a9c624faf4dc

[2017-12-16 15:10] #30 closed

[2017-12-18 06:59] adeewu opened #32 "lost future"
I can't find `Reverse Engineer Code First` `Customize Reverse Engineer Templates` on the project menu, then i check the source code, nothing about two future

[2017-12-18 07:02] adeewu commented on #32
[see here](https://github.com/aspnet/EntityFramework6/tree/release-6.1.3-tools-update-2/src/PowerTools/Handlers), `AddCustomTemplatesHandler.cs` `ReverseEngineerCodeFirstHandler.cs` contain the future

[2017-12-18 07:05] ErikEJ commented on #32
Those features are not available in the tool any longer, see the readme here: If you are looking for Reverse Engineeering tools, I recommend using the EF Reverse POCO Generator Template. You can also use the less advanced "Code First from Database" feature that is included with the standard Visual Studio tooling for EF 6.

[2017-12-18 07:05] #32 closed

[2017-12-19 02:06] adeewu commented on #32
What a pity，it's cool future

[2017-12-19 06:21] ErikEJ commented on #32
As I mentioned, there are two excellent replacements for this missing feature!

[2018-01-18 16:49] HMoen commented on #27
@gh5692 thanks for the tip on setting the library as the StartUp project. However, now I get the following error:

The selected file is an abstract class that inherits from DbContext, but also derives from a custom interface. I commented out the custom interface and I still get the same error above.

I am using:
- Class lib .NET 4.6.1
- EF 6.2.0
- VS 2017 CE 15.5.4

Thank you for your time and a g

[2018-01-18 16:55] ErikEJ commented on #27
@HMoen  Is an abstract class constructible?

[2018-01-18 18:00] HMoen commented on #27
Doh, removed abstract keyword and added a parameter less ctor and it works beautifully.

Thanks @ErikEJ !

[2018-01-24 17:09] XPD-Kasun opened #33 "No context menu entries"
I have installed this extension into Visual Studio Community 2015 and restarted several times. But still I can't figure out any entries in solution explorer context menu for entity framework. Files with implementation of DbContext works properly by displaying a menu entry for Entity Framework. But for project menu there is no entry. This is a C# class library project which I've tested on.

[2018-01-24 20:20] ErikEJ commented on #33
There is no project level menu! See the readme here

[2018-02-06 11:01] rekna1 opened #34 "EF6 : A constructible type deriving from DbContext could not be found"
ParameterDbContext derives from DbContextBase derives from DbContext (EF6)
[code]
Both derived and base class have parameterless constructor

But when trying to generate View Entity Data Model I get A constructible type deriving from DbContext could not be found

[2018-02-06 11:12] ErikEJ commented on #34
Could you share a repro project?

[2018-02-06 12:18] rekna1 commented on #34
I'm not allowed to do that I'm afraid...

Done some debugging
[code]
seems to return no elements...

Can't see what's in this.dte2.SelectedItems unfortunately

[2018-02-06 12:19] ErikEJ commented on #34
Are you selecting the correct file?

[2018-02-06 12:22] rekna1 commented on #34
yes, the one that's containing ParameterContext : DbContextBase

[2018-02-06 13:09] ErikEJ commented on #34
What if you select the class with DbContextBase ?

[2018-02-06 13:33] rekna1 commented on #34
It s in another assembly (comming from nuget package)

[2018-02-06 13:34] ErikEJ commented on #34
Then maybe you are out of luck!?

[2018-02-09 17:23] jwaala opened #35 "any advice on trouble shooting "A constructible type deriving from DbContext could not be found""
- not a .net core project
- ef/generate-view shows up when right clicking on any file (not just my DbContext file)
- have a no param constructor (see below)
- valid connection string entry for the name=DB in the app.config

[code]

I get the "A constructible type deriving from DbContext could not be found" message in the IDE status bar at the bottom, but no other message/log/etc.

Would love to be

[2018-02-09 18:04] ErikEJ commented on #35
Can you share a repro project, and I will be happy to have a look

[2018-02-09 18:04] #33 closed

[2018-02-09 20:21] jwaala commented on #35
it's a bit of a pain to trim this down, will give it a go and let you know

[2018-02-09 21:12] jwaala commented on #35
very odd ... I trimmed thigns way down, now when I right click ef/gen/view ... I am getting an error dialog about sqlite, which is not being used, still hoping to get a repo to share

[2018-03-04 20:03] ErikEJ commented on #35
Closing as no repro received, feel free to re-open if you can provide one

[2018-03-04 20:03] #35 closed

[2018-03-04 20:04] ErikEJ commented on #34
Closing as there is no obvious solution/workaround

[2018-03-04 20:04] #34 closed

[2018-03-04 20:05] ErikEJ commented on #22
External issue (must wait for proper EF 6.2 tooling)

[2018-03-04 20:05] #22 closed

[2018-03-08 00:50] ErikEJ opened #36 "Run SDK Analyzers"
https://www.nuget.org/packages/Microsoft.VisualStudio.SDK.Analyzers/15.6.56-beta

aka.ms/VsSDKLinks

[2018-03-29 08:33] #36 closed

[2018-05-25 19:16] ErikEJ opened #37 "Respond to project kind change"
https://github.com/aspnet/EntityFramework6/issues/547

[2018-07-02 07:48] 0xced commented on #27
I had the same `InvalidCastException`, so I tried to set the project as startup project as suggested by @gh5692 and now I have an alert when I try to **View Entity Data Model (Read-only)** on my DbContext subclass : _Sequence contains no matching element_. Unfortunately, there's no stack trace with this alert. 😕

[2018-08-10 09:01] LA2310 opened #38 "Cannot install EF Power Tools for 2017"
Hi,

I try to install this tool on my PC, but the VSIX Installer will not install this app.

I click on the button 'Install', after closing all necessary processes, nothing happens. The process bar is visible, but frozen and nothing will be installed.

I use VS2017 v.15.7.6

This is the state, where the installer is frozen:
![vsix_installer_problem](https://user-images.githubusercontent.com/422671

[2018-08-10 09:11] ErikEJ commented on #38
Have you tried restarting your PC?

Have you tried repairing your VS installation?

[2018-08-10 11:02] LA2310 commented on #38
Yes, I tried it yesterday and this morning.
I installed the newest version of VS2017 yesterday.
And I repaired it minutes ago.

Nothing works...

[2018-08-11 06:50] ErikEJ commented on #38
Can you install other extensions?

Have you tried another PC?

[2018-08-13 08:36] LA2310 commented on #38
Yes, we tried it on the computer of my colleague and there it works.
Only on my PC it will not install.

[2018-08-13 08:37] LA2310 commented on #38
Sorry, I accidentally closed it.

[2018-09-09 13:05] trinhpham opened #39 "No connection string named 'DBContext' could be found in the application config file."
Hello, I installed the latest release on VS Marketplace and face this problem when try with my project.
Clone the source code and debug it tell me that there are some problems:
1. The latest source code on branch community uses GetServiceAsync to get the DTE object, however, it doesn't wait for the object available before checking null => Fixed by adding await keyword
2. The ConfigurationManager s

[2018-09-09 16:34] ErikEJ commented on #39
Thank, I have fixed the async bug in the latest commit.

Could you share a project that demonstrates your config issue?

[2018-09-14 03:17] whizkidwwe1217 opened #40 "Generate Entity Mapping Views through command line"
It would be much better if I could also generate mapping views through command line. This will be very helpful in automating builds.

[2018-09-14 03:49] ErikEJ commented on #40
Have you had a look at edmgen2 ?

[2018-09-14 04:15] whizkidwwe1217 commented on #40
@ErikEJ I haven't heard of it. I'll definitely check that out thanks!

[2018-09-14 05:15] ErikEJ commented on #40
There is a GitHub repo with an updated version

[2018-09-14 05:32] ErikEJ commented on #40
Yes

[2018-09-18 22:38] trinhpham commented on #39
@ErikEJ Sorry for this late response. There are a lot of things in my plate now.
My project is quite complex and cannot be opensource.
I'll try to make a sample with the issue and let you know as soon as I have time.

[2018-10-08 14:14] anperim opened #41 "Error 0152: No Entity Framework provider found for the ADO.NET provider with invariant name 'Oracle.ManagedDataAccess.Client'"
Hi,
I´m trying to pre generate views on a db first (edmx) model and generate the follow error:
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.Data.Entity.Core.MetadataException: Schema specified is not valid. Errors:
eEVNDataModel.edmx(7,6) : error 0152: No Entity Framework provider found for the ADO.NET provider with invariant na

[2018-10-08 16:34] ErikEJ commented on #41
Which version of Visual Studio? There were issues with 15.7 and the EF Tools

[2018-10-08 16:41] anperim commented on #41
15.8. Still have a bug with this version?

[2018-10-08 16:42] ErikEJ commented on #41
Should be fixed, but I have no experience with the Oracle DDEX provider, sorry.

[2018-10-08 16:43] anperim commented on #41
Thanks in advance.

Em seg, 8 de out de 2018 13:42, Erik Ejlskov Jensen <
notifications@github.com> escreveu:

[2018-10-11 05:57] ErikEJ opened #42 "Use new metapackage"
https://blogs.msdn.microsoft.com/visualstudio/2018/10/10/simplify-extension-development-with-packagereference-and-the-vssdk-meta-package/

[2018-10-14 15:58] PhilPJL opened #43 "Issue with view data model with multiple projects"
[Test1.zip](https://github.com/ErikEJ/EntityFramework6PowerTools/files/2476577/Test1.zip)

If we have multiple projects where the derived DbContext have the same name, then attempting to view the data model fails if
1) view data model in project 1
2) attempt to view data model in project 2

We get 'this file has been modified outside the editor. Do you want to reload it?'
If we select yes then we

[2018-10-15 14:53] ErikEJ commented on #43
Could you please explain what you mean by this?

[2018-10-15 18:36] PhilPJL commented on #43
oops, the editor removed my angle brackets.
I meant instead of creating a file called "mycontext".edmx, we need a fully qualified name with the full project name "myproject"."mycontext".edmx.  Alternatively create the mycontext.edmx in a  sub-folder, like  ..\appdata\local\temp\"tempfolder" where tempfolder is unique.

[2018-10-15 18:40] ErikEJ commented on #43
Got it - maybe you could submit a pull Request ?

[2018-10-16 07:48] PhilPJL commented on #43
I'll give it a go.

[2018-10-18 08:07] ErikEJ commented on #38
Not sure I can help here...

[2018-10-18 08:07] #38 closed

[2018-10-20 08:53] #42 closed

[2018-10-25 15:56] #43 closed

[2018-12-04 09:45] uPloraX opened #49 "Library not registered"
Hey there,
I'm trying to generate Views for my Code First Entity Framework but running into the issue, that some library is not registered.

![error_ef6](https://user-images.githubusercontent.com/20383017/49432633-71c76d80-f7b0-11e8-84c3-e6e93830a41a.PNG)

The connection string is build at runtime. Connection is made to an oracle database, so my App.config looks like that:

[code]

[code]

I'm usi

[2018-12-04 17:34] ErikEJ commented on #49
I think you need a tool like Process Explorer to find out what library is not registered...

[2018-12-04 18:31] PhilPJL commented on #49
@ErikEJ I would be interested to see if the same error occurs with the latest build. @uPloraX are you able to build the latest code?

[2018-12-04 18:33] ErikEJ commented on #49
The daily build is here: http://vsixgallery.com/extensions/F0A7D01D-4834-44C3-99B2-5907A0701906/extension.vsix

[2018-12-04 18:45] PhilPJL commented on #49
Ah, ok  0.9,63 is the latest.

[2018-12-09 17:39] ErikEJ commented on #41
Appear to be an external VS related issue, closing

[2018-12-09 17:39] #41 closed

[2018-12-09 17:40] ErikEJ commented on #39
Closing as the requested information was never supplied

[2018-12-09 17:40] #39 closed

[2018-12-10 01:03] anperim commented on #41
This is not a external issue. This is because the entity framework dll version inside visual Studio installation path can not load edmx. The project is running with entityframework nuget version and actually using the EFInteractiveViews as alternative.

[2018-12-10 06:41] ErikEJ commented on #41
I meant that it was not an EF Powertools issue...

[2018-12-10 12:57] anperim commented on #41
Ah ok. Thanks for all.

Em seg, 10 de dez de 2018 04:41, Erik Ejlskov Jensen <
notifications@github.com escreveu:

[2018-12-12 16:23] PrisonerZERO opened #50 "Not Working in VS 2017"
The "Entity Framework" sub-menu does not list in Visual Studio 2017.

**IT IS INSTALLED...**
![itsinstalled](https://user-images.githubusercontent.com/798055/49883073-87afe080-fdf7-11e8-9f4b-d5b2a1c2e2a4.png)

**'THE MENU-ITEM IS MISSING...**
![notlisted](https://user-images.githubusercontent.com/798055/49883264-eb3a0e00-fdf7-11e8-9fee-fb2674e21be8.png)

[2019-01-04 21:46] kkocabiyik opened #51 "VS2019 Support for EF6 Power Tool"
I saw you have upgraded EFCore Power Tools to VS 2019 on daily build. Is there any plan to do it on this project as well?

Thanks.

[2019-01-05 09:00] ErikEJ commented on #51
Of course, and PRs accepted https://github.com/ErikEJ/SqlCeToolbox/commit/913f65f5812b6626383391e4a2a61b646a1985f3#diff-0eeeb9bc79ba8d16522b120e392ec20a

[2019-01-05 10:17] ErikEJ commented on #51
Fixed in latest daily build, pls let me know if it works for you.

[2019-01-05 10:17] #51 closed

[2019-01-06 15:04] kkocabiyik commented on #51
I tried and it's working properly.
Thanks a lot 👍

[2019-01-08 12:07] ErikEJ opened #52 "Remove MPF reference from vsixmanifest"

[2019-01-09 03:57] whizkidwwe1217 commented on #40
@ErikEJ EdmGen2 only works on .edmx files but not for code-first DbContexts

[2019-01-20 09:05] ErikEJ commented on #40
Closing, as this seems out of scope for this project

[2019-01-20 09:05] #40 closed

[2019-01-20 09:06] #52 closed

[2019-02-28 15:04] watfordgnf opened #53 "Generate views ends up with two views for each entity"
I'm not sure if this is a problem with the generate views utility, with our DbContext, or if not a problem at all, but it appears to generate two equivalent views for each entity (with slightly different names):
[code]
This code first EF model has had numerous migrations over the past six or so years, so it would not surprise me if a vestige was hanging around.

[2019-02-28 15:27] watfordgnf commented on #53
I believe this is internal to our usage of EF and not related to the generated views.

[2019-02-28 15:27] #53 closed

[2019-03-08 17:39] katit opened #54 "Sequence contains no matching element error when running VS as Administrator"
VS 2017
When using "View entity data model(view-only)" feature I get popup with error "Sequence contains no matching element".

Tried to simplify solution as much as possible and narrowed down to the fact if I run solution by "double-click" on .sln - it works. However, when I run VS using my shortcut (in Admin mode) - I get this error.

[2019-03-08 17:44] ErikEJ commented on #54
Are you able to share a repro?

[2019-03-08 17:55] katit commented on #54
This is shortcut config. I wonder if it's related to "Start in" root. I use this shortcut to launch VS

Let me know if you need actual project.

![vs shortcut](https://user-images.githubusercontent.com/8389381/54046014-bfc98400-4198-11e9-9f93-32b0662b9bd1.JPG)

[2019-03-08 17:58] ErikEJ commented on #54
I think I need a project..

[2019-03-08 18:31] katit commented on #54
Well. I started to come up with a project and couldn't reproduce it. Now I narrowed this down to how I open that specific solution. It is not related to Admin rights it seems, just to how solution opened.

When I open solution via File->Open Project/Solution it works
When I go to File->Recent Projects/Solutions - it doesn't work for that specific solution/location. For exact same solution moved to

[2019-03-08 20:28] seawerst commented on #54
You can get the code of the extension, open it in another instance of visual studio and attache this instance to the first one before reproducing the error.

[2019-03-12 05:59] khodaie opened #55 "Generate Pre-compiled View Using switch Statement"
The generated view pattern is based on the `if` statement:
[code]

But the `switch` statement has better performance when the number of conditions is high. So, using `switch` instead of `if` can improve the overall performance:

[code]

[2019-03-12 06:02] ErikEJ commented on #55
This project is open source and acccpts Pull Requests

[2019-03-22 22:53] sphildreth opened #56 "Cast issue from EF 5 to EF 6 ?"
Greetings, I click on "View Entity Model (Read-Only)" in Visual Studio on my Context and I get this error:

![image](https://user-images.githubusercontent.com/193334/54857016-2a1b1200-4ccb-11e9-8e0f-d26c402a286c.png)

From my packages.config for the project:
```<package id="EntityFramework" version="6.2.0" targetFramework="net471" />```

Visual Studio Enterprise 15.9.9 on Windows 10.

[2019-03-23 14:14] ErikEJ commented on #56
Maybe check if you have entityframework.dll in GAC, and then remove it

[2019-03-25 15:27] sphildreth commented on #56
I removed and reinstalled Entity Framework Tools in Visual Studio setup and it starting working.

[2019-03-25 15:27] #56 closed

[2019-04-05 18:15] JRichmond27 commented on #24
@ErikEJ Is this extension only for C# projects?

[2019-04-05 18:44] ErikEJ commented on #24
Yes

[2019-04-05 19:58] JRichmond27 commented on #24
Thanks. Couldn't find that info anywhere in the documentation.

[2019-04-24 11:23] ErikEJ commented on #54
Clsoing as the requested repro project was not supplied - feel free to re-open

[2019-04-24 11:23] #54 closed

[2019-06-09 14:57] bricelam opened #57 "Customize Reverse Engineer Templates"
Per the discussion in https://github.com/aspnet/EntityFramework6/issues/883#issuecomment-499203044, it may be worth adding the `Customize Reverse Engineer Templates` command back.

This would add files under `CodeTemplates\EFModelFromDatabase` and replace the functionality of these packages (since `content` no longer works in NuGet with PackageReference):

- [EntityFramework.CodeTemplates.CSharp](

[2019-06-09 14:59] ErikEJ commented on #57
Interesting. So there is no way to include project content files with PackageReference ?

[2019-06-09 15:44] bricelam commented on #57
No. You can include static content as part of the build, but it doesn’t help here since the content is supposed to be customized.

[2019-06-09 15:45] bricelam commented on #57
This and the ability to modify config files are the biggest missing features in PackageReference

[2019-06-10 07:31] ErikEJ commented on #57
Is the latest version of the tt files at this location?
https://github.com/aspnet/EntityFramework6/tree/c8937b8089744c1b5e7ac4c2430bd29cd0c8d492

[2019-06-10 09:35] ErikEJ commented on #57
Scratch that, I will just get the file from the 2 NuGet packages

[2019-06-11 16:14] #57 closed

[2019-06-11 16:15] ErikEJ commented on #57
@bricelam Fixed in latest daily build

[2019-06-14 09:41] omatrot opened #58 "Where is EfTextTemplatingHost?"
I may be wrong but it seems that EfTextTemplatingHost is no longer included in the EF Power Tools.
Am I right?

I'm trying to solve [this problem](https://stackoverflow.com/questions/42772476/compiling-transformation-error-after-install-ef-power-tools-on-vs-community-2017).

[2019-06-16 11:00] ErikEJ commented on #58
Well, reverse engineering is no longer supported, so I guess you are right, see the readme for alternatives

[2019-06-16 11:00] #55 closed

[2019-06-16 11:01] ErikEJ commented on #49
Closing as the requested addtional information was never supplied

[2019-06-16 11:01] #49 closed

[2019-06-23 11:21] evertonvps opened #59 "Error while selecting View Entity Data Model Options Visual Studio 2019"
Hello! I'm trying to use power tools in a project with mysql. When selecting any View Entity Data Model option, visual studio displays the message **"The parameter is incorrect." (Exception from HRESUT: 0x80070057 (E_INVALIDARG))**

[2019-06-23 12:18] ErikEJ commented on #59
Potentially a MySQL related issue. Can you Share a repro project?

[2019-06-26 10:12] evertonvps commented on #59
I had to downgrade Mysql.Data to solve crash of EF's
wizard and be able to reverse engineer Code First.
Follow the link in the project.
https://we.tl/t-a8ci6GcE1K

[2019-06-26 10:22] ErikEJ commented on #59
Then it sounds like a MySQL.Data issue, I think?

[2019-06-26 10:33] evertonvps commented on #59
Yes! I tested it with SqlServer and it worked normally.

[2019-06-26 10:46] #59 closed

[2019-06-27 21:09] dmashcraft opened #60 "PowerTools with EF 6, Oracle.ManagedDataAccess and Oracle 11g"
ProviderIncompatibleException when trying to Generate Views.    Seems it's having trouble connecting to the database.    Any additional logging or info would be helpful.  Thanks.

[2019-06-27 21:10] dmashcraft commented on #60
VS2017  forgot to mention that.

[2019-06-28 13:14] ErikEJ commented on #60
I guess you could look in the output window, only other option would be to contact Oracle support

[2019-07-11 12:33] prathamesh1973 opened #61 "After adding new Entity - [Key] of old entities get lost."
Hi,

I am having project which is working fine created using EntityFramework PowertTools.

I want to add one more entity from database. When I run the project after adding new entity with DbContext then give error message.

Exception Details: System.InvalidOperationException: The entity set 'EntityName' is based on type 'eV.EntityName' that has no keys defined.

[2019-07-11 12:39] ErikEJ commented on #61
Which EF provider?

[2019-07-12 04:51] prathamesh1973 commented on #61
EF Core power tools

[2019-07-13 10:13] prathamesh1973 commented on #61
2.2.6

[2019-07-13 10:18] ErikEJ commented on #61
2.2.6 what? This repo is for the EF6 Power Tools.

Do you mean EF Core SQL server provider 2.2.6??

[2019-07-13 10:33] prathamesh1973 commented on #61
It's Microsoft.EntityFrameWorkCore  v2.2.6.
I am using EF Core Power Tool v2.2.63.0

[2019-07-13 10:45] prathamesh1973 commented on #61
I am using Microsoft.EntityFrameworkCore.SqlServer  v2.2.4.0

[2019-07-13 13:28] ErikEJ commented on #60
Closing, external issue

[2019-07-13 13:28] #60 closed

[2019-07-13 13:28] ErikEJ commented on #58
Use alternative options

[2019-07-13 13:28] #58 closed

[2019-08-09 16:21] marcelopetersen commented on #27
Hello,

I'm facing this error on Visual Studio 2019 version 16.2.1. After installed the extension, I receive the following error message when I try to generate views:

System.InvalidCastException: Unable to cast COM object of type 'System.__ComObject' to interface type 'Microsoft.VisualStudio.Shell.Interop.IVsAggregatableProject'. This operation failed because the QueryInterface call on the COM co

[2019-08-09 16:32] marcelopetersen commented on #27
Hi Guys,

I think I found the solution: my solution has some class libraries projects and two mvc websites (api and web).

Looking to power tools source code, it accepts only two kinds of projects as follow:

https://github.com/ErikEJ/EntityFramework6PowerTools/blob/community/src/PowerTools/Extensions\ProjectExtensions.cs

`
public const string WebApplicationProjectTypeGuid = "{349C5851-65DF-11DA-

[2019-08-20 21:38] divega opened #62 "Consider supporting new project system and .NET Core"
I know this is blocked by not having an EF6 designer that works on these projects yet, but wanted to add it anyway because today I ran into one project in which I wish I had had the option to run the power tools, and I wonder if this is something other power tools users would want.

cc @ErikEJ

FWIW, currently you get this exception:

[code]

[2019-09-18 15:33] rjmporter commented on #62
Likely related to this issue: Cannot use the solution file command extension to `View Entity Data Model [Read-Only | XML | DDL SQL ]` or `Generate Views` when EF types are defined in a shared project. Looks like a casting issue. `NullReferenceException` is thrown.

[2019-11-06 11:10] tomasfil opened #63 "System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.Data.Entity.Core.MetadataException: Schema specified is not valid. Errors: eWMSModel.edmx(7,6) : error 0152: No Entity Framework provider found for the ADO.NET provider with invariant name 'Oracle.ManagedDataAccess.Client'."
Hello, I am trying to generate view in my Class library project, which contains edmx file. But I am getting this exception:
[code]

Meanwhile app.config:
[code]

I will be glad for any support. Thanks.

[2019-11-08 20:41] cj-carroll commented on #27
I am using vs2019, v16.3.7. My project that has the DbContext derived class is not the startup project. When I set it to the startup project, I still get the error.

Top of project file:
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFrameworks>net47;net48</TargetFrameworks>
    <AssemblyName>DT.CustomerModel</AssemblyName>
    <PackageId>DT.CustomerModel</PackageId>
    <Generate

[2019-11-09 14:31] ErikEJ commented on #27
@cj-carroll Please dont post new issues in closed ones. Your issue is a duplicate of #62

[2019-11-10 20:17] ErikEJ commented on #63
I think you need to speak to Oracle support

[2019-12-01 14:03] #63 closed

[2020-01-01 10:57] abuthalhathpp opened #64 "Error while generating view on visual studio 2019"
Could not load file or assembly 'System.ComponentModel.Annotations, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.
System.ComponentModel.Annotations in my application is is 4.2.1.0
I updated the library to 4.7.0 still same error

[2020-01-01 11:00] ErikEJ commented on #64
Which .NET Framework version do you have installed?

[2020-01-02 06:00] abuthalhathpp commented on #64
.Net Framework 4.6.1

[2020-01-03 12:58] karthiksubramaniam opened #65 "Need options to generate POCO entities"
Since [EntityFramework Reverse POCO Code First Generator](https://www.reversepoco.co.uk/) is moving towards pricing, can we have those POCO generating features here?

[2020-01-03 13:04] ErikEJ commented on #65
Move to EF Core and use EF Core Power Tools (free) ??

[2020-01-06 16:43] ErikEJ commented on #65
Ping?

[2020-01-07 18:22] ErikEJ commented on #65
Actually, you can just use this: http://www.entityframeworktutorial.net/code-first/code-first-from-existing-database.aspx

[2020-01-07 18:22] #65 closed

[2020-01-20 15:43] DesertFoxAZ opened #66 "No connection string could be found in application config file when generating views"
![Connection string not found](https://user-images.githubusercontent.com/60105945/72739197-6f64d600-3b60-11ea-8e3d-77cff639813e.png)

For some projects I cannot generate a view and get a dialog stating that "No connection string named 'XXXXXXX' could be found in the application config file.". The connection string does in fact exist in the app.config or web.config files and matches the name of the

[2020-01-20 16:38] ErikEJ commented on #66
Unless you share a repro project it is going to be very hard for me to help you.

[2020-01-20 19:01] DesertFoxAZ commented on #66
[DomainMonitoringApi.DataAccess..zip](https://github.com/ErikEJ/EntityFramework6PowerTools/files/4087526/DomainMonitoringApi.DataAccess.zip)
See attached. When I try creating the view at Models\DomainMonitoringApiContext.cs, I get the message shown above.

[2020-01-25 16:46] JohnDoe2193 commented on #66
I am getting the same problem. May I ask why it needs to read connection string?

It seems all it should need is .CS file were database context is defined. In my case library project for which it tries to read App.config for doesn't even have App.config (it is a DLL library). So I just created a dummy App.config with empty connection string (correct string name but not server, database, user accou

[2020-01-25 17:11] DesertFoxAZ commented on #66
I had my co-worker try it and he was able to get it to work. However, on my machine, it works sometimes and not others. I had created the views on one database before my original post but now I can't do it anymore. The other database that didn't work from the beginning still doesn't work.

[2020-01-26 08:35] ErikEJ commented on #66
@desertfoxAZ Sound like it going to be very hard for me to repro - in addition, I cannot build your project

[2020-01-26 08:35] ErikEJ commented on #64
Update to 4.7.2

[2020-01-26 08:35] #64 closed

[2020-02-04 15:37] krptodr opened #67 "Error generating Entity Data Models (Read-Only, XML, DDL SQL)"
I right click my context and and select either of the _View Entity Data Model_ options and get an error similar to:

_ApplicationUser_ inherits from _Microsoft.AspNet.Identity.EntityFramework.IdentityUser_

I've modified relationships on the other Identity tables, so that my ApplicationUser class could take advantage of the correct foreign key association(userId instead of ApplicationUser_Id).

**

[2020-02-04 17:02] ErikEJ commented on #67
And you use EF6

[2020-02-04 17:05] krptodr commented on #67
@ErikEJ I apologize for the lack of detail. Yes EF 6.2

[2020-02-26 11:09] wout-de-jong opened #68 "no Generate Views available in context menu"
Hi Erik,
I'm new to VS Community 2019, but I don't see the context meny entry mentioned in the Overview when I rightclick on an .edmx file in Solution Explorer (Folder View).
Can you help out a bit?

![image](https://user-images.githubusercontent.com/19705659/75339301-88178880-5890-11ea-87fd-b47ed4fd5343.png)

[2020-02-26 11:17] ErikEJ commented on #68
Is your project an SDK project?

[2020-02-26 11:53] wout-de-jong commented on #68
I don't think so.
I started VS and used the Solution Explorer to browse a folder with 2 .edmx files. 1 is an SAP OData v2 service, and the other a Dynamics $metadata file of 22 MB (!).

[2020-02-26 11:59] ErikEJ commented on #68
Please share the first lines of your csproj file

[2020-02-26 12:06] wout-de-jong commented on #68
Erik, I don't have a csproj file. Probably the EF6 Power Tools serve a totally different purpose than my requirement to visualize / view .edmx files. Right?

[2020-02-26 12:50] ErikEJ commented on #68
No, they can do that, but need compiled code in a project in order to do it.

[2020-02-26 15:25] wout-de-jong commented on #68
Not sure if I understand this prerequisite. So a "hello world" cs compilation will suffice?

[2020-02-26 15:29] ErikEJ commented on #68
No, it must include the code generated from the EDMX file

[2020-02-26 17:26] wout-de-jong commented on #68
OK, so it requires a c# project. I managed this by selecting New->Create Project From Existing Code...
This might be obvious, but not to me.

Anyway, I see a ..Designer.cs file. I select the .edmx and press Generate Views. I see 3 errors, see below. Can you help out?

[code]

[2020-02-26 17:35] ErikEJ commented on #68
No, suggest you ask on Stackoverflow

[2020-02-26 17:37] wout-de-jong commented on #68
Thanks for the quick replies, Erik.

[2020-02-26 17:37] #68 closed

[2020-04-08 18:33] darklovesick opened #69 "EF6 Reverse Engineering"
İ installed Entity Framework 6 Power Tools Community Edition. I am using VS2019.

I could not see Reverse Engineering Code First. Can You Help me please

How Can I show Reverse Engineering Code First

attach pic.
<img width="694" alt="noname" src="https://user-images.githubusercontent.com/37900479/78820076-e41d1300-79df-11ea-8274-576c4674af43.png">

[2020-04-08 19:05] ErikEJ commented on #69
It is included in the standard EF Tools for visual studio. Read the readme in this repo!

[2020-04-08 19:05] #69 closed

[2020-04-11 18:23] pafuco opened #70 "Error generating models with VS2019 and EF6: A constructible type deriving...."
I use VS2019 and EF6. When I select any option from the menu to generate a model, I got the error "A constructible type deriving from DbContext could not be found in the selected file".

This an example of a DbContext Class

public class StoreContext : DbContext
    {
        public StoreContext(DbContextOptions<StoreContext> options)
            : base(options)
        {

        }

        publi

[2020-04-12 07:00] ErikEJ commented on #70
That does not look like a EF6 DbContext, that looks like a EF Core DbContext !?

[2020-04-12 14:08] pafuco commented on #70
Thanks Erik for your clarification, it is right. Then I guess that in this case the correct would have been to use EF Core Power Tools.

[2020-04-12 14:49] ErikEJ commented on #70
Yes!

[2020-04-12 14:49] #70 closed

[2020-04-26 10:37] ErikEJ commented on #67
Can you share a repro project?

[2020-04-26 10:38] ErikEJ commented on #66
Closing as unable to repro

[2020-04-26 10:38] #66 closed

[2020-05-17 06:35] ErikEJ commented on #67
Closing this a  no repro provided, feel free to re-open if you can provide one.

[2020-05-17 06:35] #67 closed

[2020-08-07 01:44] gregveres opened #71 "Is this broken in VS 16.7.0?"
I just upgraded to VS 16.7.0 and when I go to generate views, I get a dialog that pops up that says "Object reference not set to an instance of an object."

I will say that I have had a ton of problems after I upgraded to vs 16.7.0 so it might not be the problem of this extension at all. It would be useful to know if somebody else has successfully used this after upgrading to 16.7.0.

[2020-08-07 02:19] gregveres commented on #71
I am going to close this issue. I think the problem was that my upgrade to vs 16.7.0 got badly corrupted causing a lot of things to not work, including power tools. I reinstalled from scratch and things are working again.

[2020-08-07 02:19] #71 closed

[2020-08-18 15:23] EasyRhinoMSFT opened #72 "InvalidCastException"
I get this exception from any of the commands in this extension:
System.InvalidCastException: Unable to cast COM object of type 'System.__ComObject' to interface type 'Microsoft.VisualStudio.Shell.Interop.IVsAggregatableProject'. This operation failed because the QueryInterface call on the COM component for the interface with IID '{FFB2E715-7312-4B93-83D7-D37BCC561C90}' failed due to the following

[2020-08-18 15:57] ErikEJ commented on #72
Duplicate of #62

[2020-08-18 15:57] #72 closed

[2020-09-23 20:03] nlnpraveen opened #73 "Sequence contains no matching element"
Hi,

When I try to view the read-only entity data model it always throws the error shown on the title. The model was generated using the EF Reverse POCO Generator Template. When I run the code to fetch the data using the context it works fine. Do we know any other known causes as to why this issue might occur? Any help is appreciated.

Thanks, P

[2020-09-24 05:09] ErikEJ commented on #73
I think you should address this in the EF Reverse POCO repository.

[2020-09-26 11:57] #73 closed

[2020-09-27 21:05] reactor-gonguela opened #74 "Exception When Generating Views in EF6.4.4 in VS2019"
Hello, i'm getting an error when atempting to generete the views for my code first context and i don't know how to fix it. I already tried to reinstall the power tools but nothing seems to wok.
![Capture](https://user-images.githubusercontent.com/40264322/94375710-8acfaa00-010d-11eb-962f-b323d098fb20.PNG)

[2020-09-28 04:52] ErikEJ commented on #74
Please share your csproj file

[2020-09-28 08:44] reactor-gonguela commented on #74
`<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="..\packages\EntityFramework.6.4.4\build\EntityFramework.props" Condition="Exists('..\packages\EntityFramework.6.4.4\build\EntityFramework.props')" />
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition=

[2020-10-07 20:32] gregveres opened #75 "Is there a powershell commandlet to call Generate Views?"
I started using generate views, but I find the workflow really cumbersome to have to go find my DBContext file and right click to get to Generate Views.

Is there a way to call this from powershell since I already have powershell open since I just did an add-migration and I  am about to do an update-database.

Thanks

[2020-10-08 05:18] ErikEJ commented on #75
No, there is not any way to generate views from Powershell

[2020-10-08 05:18] #75 closed

[2020-10-10 08:44] as206em commented on #74
same issue here

[2020-10-10 15:05] ErikEJ commented on #74
I am not able to reproduce in the latest VS 2019 version, please provide a repro project, and I will investigate.

[2020-10-13 07:46] ErikEJ commented on #74
Ping ?

[2020-10-13 09:47] as206em commented on #74
Hi
I have windows 10 Pro version 2004 and Visual Studio Enterprise 2019 Version 16.7.5.
i'm getting the following error

![image](https://user-images.githubusercontent.com/7923830/95844510-f3f92380-0d83-11eb-83ad-b74c95945911.png)
'Console.Domain' is a project in my solution and the solution is buildable and working with no issues.

and here is the csproj content for the project i'm trying to gene

[2020-10-13 10:00] ErikEJ commented on #74
I need a full repro solution, as I cannot reproduce.

[2020-10-14 01:13] as206em commented on #74
actually, I was deleting some projects from my solution to send it to you and I have tried once before sending and it works. I went back to my original solution and unload all unnecessary projects and I have made the views successfully. so I think in my case it's totally related to something in other projects.

[2020-10-14 05:34] ErikEJ commented on #74
Closing this as no repro received, feel free to re-open if you can provide one.

[2020-10-14 05:34] #74 closed

[2021-01-18 21:33] jonius40 opened #76 "Problem creatings Views"
Hi,
I am trying to create compiled views, using Generate Views . I am getting object of type  System.Linq.ExpressionExpression.Func2 {name of the object}, System Nullable1 [ System.Decimal] cannot be converted to type. I am using Visual Studio community 2019 with EF 6.1.2

King regards
John Papoutsidis

[2021-01-19 06:22] ErikEJ commented on #76
Can you (privately) share a repro project?

[2021-01-19 06:47] jonius40 commented on #76
Hi Erik,
Thank you very much for answering. I can't send it because it is not mine.
It takes 4 minutes for first query to start! 1200 tables.

Kind regards
John Papoutsidis

On Tue, Jan 19, 2021, 8:22 AM Erik Ejlskov Jensen <notifications@github.com>
wrote:

[2021-01-19 07:02] jonius40 commented on #76
Hi Erik,
I will try to issolate the model class with the problem and  try to
reproduse it. After that i will send you the project.

On Tue, Jan 19, 2021 at 8:22 AM Erik Ejlskov Jensen <
notifications@github.com> wrote:

[2021-01-21 22:01] jonius40 commented on #76
Well the problem is related with a custom Attribute used with a decimal value. When i start a new project creating the same attribute for testing power tools works fine. Both project have framework 4.5

[2021-01-25 07:39] garyhalb opened #77 "Cannot generate Views on EF 6.4.4"
After upgrading to EF 6.4.4 I can no longer generate Views. The error is 'Exception has been thrown by the target of an invocation'.

Tried re-installing, tried on an older version using a lower version of EF and it works fine.

[2021-01-25 07:40] ErikEJ commented on #77
Duplicate of #76 ?

[2021-01-25 07:41] ErikEJ commented on #76
Unless I get a repro I cannot assist.

[2021-01-25 07:42] ErikEJ commented on #77
Which "older versions" worked?
can you share a repro?

[2021-01-25 07:56] garyhalb commented on #77
This is in VS2015 Community. Tried to create a bare-bones repo, and now getting a Sequence contains no elements error instead. See attached:
[ClassLibrary1.zip](https://github.com/ErikEJ/EntityFramework6PowerTools/files/5865023/ClassLibrary1.zip)

[2021-01-25 07:56] garyhalb commented on #77
Potentially something to do with Enums in a seperate class.

[2021-01-26 06:33] garyhalb commented on #77
Tried downgrading to 6.2.0 and had the same issue. Finally downgraded back to 6.1.3 and view generation works again.

[2021-01-26 08:21] ErikEJ commented on #77
I am unable to repro with ClassLibrary1 as Startup project, and using VS 2019 latest. (EF 6.4.4) - in other words, view generation works fine for me.

[2021-01-26 08:29] garyhalb commented on #77
I can confirm the same result today. View generation working on the sample, but still not in my main solution. Will try create another repro.

[2021-01-26 08:50] garyhalb commented on #77
What's the easiest way to get you a private repo link?

[2021-01-26 08:53] ErikEJ commented on #77
You can email me at ejlskov at hotmail dot com

[2021-01-26 09:23] garyhalb commented on #77
Thanks, I've done so.

[2021-01-26 11:46] ErikEJ commented on #77
Invalid code in the dervied DbConfiguration class caused this error, latest daily build contains improved error logging.

[2021-01-26 11:46] #77 closed

[2021-01-26 11:46] #76 closed

[2021-01-26 11:48] ErikEJ commented on #74
@reactor-gonguela Latest daily build includes much improved error logging for this issue.

[2021-01-26 11:50] garyhalb commented on #77
Excellent, thank you so much.

[2021-02-04 07:15] ekondur opened #78 "The tool not supports latest npgsql versions"
Hi @ErikEJ,
thanks for amazing job. we use the tool for generate views and it can not work with npgsql new versions. ( it supports to 3.1.0 i think.) do you know it and any plan about it?
thanks.

[2021-02-04 07:17] ErikEJ commented on #78
How does the lack of support manifest itself?

[2021-02-04 07:20] ekondur commented on #78
It throws an error -> A constructible type deriving from DbContext could not be found in selected file
If we use npgsql version 4+

[2021-02-04 11:11] ErikEJ commented on #78
@roji ??

[2021-02-04 11:15] ekondur commented on #78
Hi @ErikEJ ,
I think another dependencies caused it. I fixed. Thank you.

[2021-02-04 11:15] #78 closed

[2021-02-04 11:16] ErikEJ commented on #78
Can you share what / how it was fixed?

[2021-02-04 11:20] ekondur commented on #78
the project included context, needs another dll we have (for IOC). I referenced also this.

[2021-02-04 11:23] ErikEJ commented on #78
Thanks. Did the stack trace in the Build window help you trouble shoot this?

[2021-02-04 11:29] ekondur commented on #78
Yes I did, when I upgrade it, throw this dll ecxeption, "it depends bla-bla dll"
*bla-bla is our IOC package :)

[2021-02-11 09:50] domehead100 commented on #74
I installed the latest daily build, and got the not very helpful output below "An error occurred while trying to generate views for CodingModel".

How does one debug the tool to discover where the error is occurring?

[code]

[2021-02-11 10:53] ErikEJ commented on #74
Are you able to provide a sample project and I will have a look - looks like there is room for even more improvement

[2021-03-12 01:07] domehead100 commented on #74
Sorry, haven't been able to create a repro project and probably wouldn't be able to anyway.  There is probably something wrong in our database project itself or with the edmx, probably due to a merge that someone did, though both projects build fine.  We have another team that started "helping out" on our project and they don't exactly know what they're doing and things like bad merges of files th

[2021-03-12 07:15] ErikEJ commented on #74
@domehead100 Clone this repo, set a breakpoint in the OptimizeContextHandler, and press F5.

[2021-04-25 07:47] ErikEJ opened #79 "Update to modern VSSDK"
PackageReference !

Use Microsoft.VisualStudio.SDK
Use Microsoft.VisuauStudio.BuildTools

[2021-06-30 19:51] alvpaz opened #80 "Ignore HasSequence in generation"
I would like to ignore modelBuilder.HasSequence

![image](https://user-images.githubusercontent.com/7883678/124022560-57cf8500-d9c3-11eb-8c52-253eb4afa2b4.png)

[2021-07-01 04:54] ErikEJ commented on #80
Why is that important in generated code?

[2021-07-16 14:07] alvpaz commented on #80
That's not the sequence, it changes as new records are added, so I don't need to have this information.

[2021-07-20 06:57] ErikEJ commented on #80
Is this EF6?

Also, can you provide more details??

[2021-07-20 08:24] ErikEJ commented on #79
Done already

[2021-07-20 08:24] #79 closed

[2021-07-20 08:25] ErikEJ opened #81 "Add VS 2022 support"
Use DTE2 where applicable

[2021-07-28 09:38] ErikEJ opened #82 "Microsoft.Data.SqlClient provider issues and TODOs"
Investigate app.config/web.config transformations (are they needed?)

Consider need for https://github.com/NuGet/Home/issues/5986#issuecomment-732401471

Related: https://github.com/dotnet/ef6/issues/823 https://github.com/dotnet/SqlClient/issues/725

Usage docs here: https://github.com/ErikEJ/EntityFramework6PowerTools#preview-of-ef6-sql-server-provider-based-on-microsoftdatasqlclient

[2021-07-29 18:48] ErikEJ commented on #82
@ajcvickers given the current lack of plans for the EF6 repo, I assume that a PR to add support for Microsoft.Data.SqlClient is out of the question?

Given that, are you OK with the package name (ErikEJ.EntityFramework.SqlServer) ?

[2021-07-29 18:59] ajcvickers commented on #82
@ErikEJ I don't think it's out of the question. On the other hand, it's not going to happen immediately, so it probably makes sense to have an external package for now. Name seems good to me. /cc @bricelam since he's good at package naming.

[2021-07-29 20:51] bricelam commented on #82
Couldn't have picked a better name myself. 😉

Regarding the transforms, I think (based on https://github.com/dotnet/ef6/pull/953#issuecomment-506987989) that they're not actually needed. But I honestly can't remember the details.

[2021-08-08 19:05] #81 closed

[2021-08-08 19:06] ErikEJ commented on #80
Closing as the requested details were never provided

[2021-08-08 19:07] #80 closed

[2021-08-10 09:52] jvanderwoude80 commented on #82
Hi, thank you very much for this package! It would solve our issues, however I can't make it work yet. My scenario: Migrated from a working .NET framework 4.6.1 app using EF6 to communicate with an AzureDb with Always Encrypted to a .NET Core 3.1 app. Had to use Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider and thus Microsoft.Data.SqlClient. This (of course) did not work because M

[2021-08-10 11:20] ErikEJ commented on #82
@jvanderwoude80 I am not able to repro, please provide a full repro.

Maybe this needs to run before an data access code (if this fixes your issue, I can add this line to the DbConfiguration class)

    DbProviderFactories.RegisterFactory("Microsoft.Data.SqlClient", Microsoft.Data.SqlClient.SqlClientFactory.Instance);

[2021-08-10 11:53] jvanderwoude80 commented on #82
@ErikEJ thanks! Sorry, full repro is kinda difficult because the app is using a private incompany (confidential) nuget framework containing the entity code and models of the specific DB, and (maybe part of the problem) also other DB connectors also using EF6 (but with System.Data.SqlClient) so both ErikEJ.EntityFramework.SqlServer.dll and EntityFramework.SqlServer.dll are in the bin folder.. So I

[2021-08-10 12:05] ErikEJ commented on #82
Are you using .NET Framework libraries from .NET Core? That could cause issues, I believe. The need to be rebuilt for .NET Standard or .NET Core/5.

Happy to take a Teams session to get to the bottom of this, if you think that may help.

[2021-08-10 12:15] jvanderwoude80 commented on #82
I'm not sure, but I guess a teams session would surely help to sort it out.

[2021-08-10 13:11] ErikEJ commented on #82
You can contact me on ejlskov at hotmail dot com...

[2021-08-13 07:41] jvanderwoude80 commented on #82
Yes, that fixed it. Thank you very much!

Summarizing: With your package I now have a working .NET Core 3.1 solution with EF6 using the new Microsoft.Data.SqlClient. Also always encrypted (on a Azure SQL DB) using Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider is working.

[2021-08-13 07:53] ErikEJ commented on #82
I have just published a 1.0-rc1 package based on your feedback!

[2021-08-13 08:19] jvanderwoude80 commented on #82
Thanks! Confirmed it also works.
    On Friday, August 13, 2021, 09:53:25 AM GMT+2, Erik Ejlskov Jensen ***@***.***> wrote:

I have just published a 1.0-rc1 package based on your feedback!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-08-16 15:39] robertmclaws commented on #82
Hey folks! Having a problem getting this going in our project with the RC1 build. We're still using EDMX files because they are wicked awesome for codegen. To use EDMX files in EF6 on .NET Core, it requires building an EntityConnection manually, so we wrote a constructor overload and a helper to make this happen.

DbContext Code:
[code]
Now we can pull the connectionstring from .NET Core Configura

[2021-08-16 18:11] ErikEJ commented on #82
@robertmclaws I am not sure I can see a connection between the EntityConnectionBuilder approach and the call stack. Have you decorated **all** your DbContext classes with the DbConfigurationType attribute? Apparently that is important.

[2021-08-16 18:13] ErikEJ commented on #82
@robertmclaws

I doubt that is true, I have used it with other providers previously.

[2021-08-16 19:15] robertmclaws commented on #82
So, does calling `DbConfiguration.SetConfiguration(new System.Data.Entity.SqlServer.MicrosoftSqlDbConfiguration());` work, or does it have to be specified as an attribute?

Also, do I need to call `DbProviderFactories.RegisterFactory("Microsoft.Data.SqlClient", Microsoft.Data.SqlClient.SqlClientFactory.Instance);` too?

Thanks!

[2021-08-16 19:20] ErikEJ commented on #82
I have not tested that, why dont you try?

No: https://github.com/ErikEJ/EntityFramework6PowerTools/blob/9598dd546d289f55a2993069cbe575dc779306c1/src/ErikEJ.EntityFramework.SqlServer/MicrosoftSqlDbConfiguration.cs#L13

[2021-08-16 19:23] ErikEJ commented on #82
The important part is that all DbContexts classes in your solution must be configured to use the new provider...

[2021-08-17 07:21] jvanderwoude80 commented on #82
I dug deeper into that. This did fix my issue, however it turned out that while my solution was not using or referencing other DbContext classes, the framework used by the solution did! One database call was performed **before** my DbContext that needed Microsoft.Data.SqlClient was called. If only this earlier DbContext is configured also to use the new provider **or** that database call was not p

[2021-08-17 07:36] jvanderwoude80 commented on #82
@robertmclaws I'm also using an existing SQL connection the same way you do (using the constructor overload) but not with a connection string builder. I'm using a connection string stored in a keyvault directly. I also don't specify the provider in the SqlConnection, decorating the DbContext class with the configuration is enough to accomplish that. In your code example I don't see the decorator o

[2021-08-17 07:55] ErikEJ commented on #82
@jvanderwoude80 The MicrosoftSqlDbConfiguration class is just a convenience method, you can create your own configuration as you please.

[2021-08-17 10:52] ErikEJ commented on #82
@robertmclaws Just confirmed that calling

     DbConfiguration.SetConfiguration(new System.Data.Entity.SqlServer.MicrosoftSqlDbConfiguration());

before using any DbContexts works fine.

[2021-08-17 15:19] ErikEJ commented on #82
@robertmclaws Good one! Will add to the docs!

[2021-08-17 17:34] robertmclaws commented on #82
@jvanderwoude80 So I have this extension method in my codebase now:

[code]
The first two lines are from @ErikEJ's `MicrosoftSqlDbConfiguration` class, the last one is from my existing codebase (EasyAF is the name of our app framework).

Then I call it at the very top of my API's Startup.cs:

[code]

I'm NOT using the DbConfigurationType attribute, as it was simpler to keep the call I already had,

[2021-08-17 18:48] ErikEJ commented on #82
@robertmclaws Thanks, I already updated the readme with that info.
There is a constant in the provider, that you can use for the invariant name, btw.

[2021-08-17 19:34] jvanderwoude80 commented on #82
@robertmclaws  thanks. I stumbled on the same approach after some googling, works for me too. I keep however having problems with connection pooling not working on my azure db. Every time a new connection is opened instead of the existing one reused (and that one is not closed) till the limit of the db is reached. Still not sure what causes it. If I have further details I will post it.

[2021-08-18 05:42] ErikEJ commented on #82
@jvanderwoude80 @robertmclaws Ah! I think I know what your issue is - you are using the "wrong" execution strategy - `SqlAzureExecutionStrategy` depends on System.Data.SqlClient - use `MicrosoftSqlAzureExecutionStrategy` instead.

I am in the process of updating the docs!

[2021-08-18 06:01] ErikEJ commented on #82
Added updated, dedicated [readme file](https://github.com/ErikEJ/EntityFramework6PowerTools/blob/community/src/ErikEJ.EntityFramework.SqlServer/readme.md) that will be included in the NuGet package

[2021-08-18 09:41] jvanderwoude80 commented on #82
@ErikEJ Thanks. Using the `MicrosoftSqlAzureExecutionStrategy` now. However does not fix my connection pooling issue. Turns out that the problem after all is aquiring the token for database access. When I use a hardcoded token string, connection pooling works as expected, first db call opens a connection, all other calls use this same connection. As soon as I acquire a token using MSAL (async call

[2021-08-18 12:04] ErikEJ commented on #82
@jvanderwoude80  >> As soon as I acquire a token using MSAL (async call) before each db access connection pooling stops working.

Is that really necessary - the token is long lived, is it not?

If you can create a repro, I suggest you create an issue on the Microsoft.Data.SqlClient repo

[2021-08-18 12:09] ErikEJ commented on #82
@jvanderwoude80 You could also try to update to the latest Azure.Identity library (https://www.nuget.org/packages/Azure.Identity/1.4.1)

[2021-08-18 19:44] ionmincu commented on #82
@ErikEJ
I also have some problems with this (rc4)

Setting the following
[code]

Does not do anything, I see the providers are still `System.Data.SqlClient`

if i set this, the providers seem to change in the DbContext, but the lead to other issues
[code]

I get the following exception (taken with SourceLink)
[code]

When using System.Data.SqlClient the `DataSpace` is set correctly to `SSpace`, bu

[2021-08-18 19:48] ErikEJ commented on #82
@ionmincu do you have an edmx, and if so, did you update it?

If not, please share a repro, not just code fragments

[2021-08-18 22:18] ionmincu commented on #82
We do not have an EDMX, we have code first.
I can not share the repo.
This happens when we get a simple `ToListAsync()`

[2021-08-19 04:48] ErikEJ commented on #82
@ionmincu if you are not able to share runnable code (even privately) I am not able to assist.

[2021-08-19 08:27] jvanderwoude80 commented on #82
True, could be a solution to acquire the token once.

After some more debugging turns out the same problem arises using System.Data.SqlClient. However, as soon as I use ADAL.net for acquiring the token (with the exact same code setup) everything is working fine. So I'm pretty sure MSAL.net is the culprit. So I will try to create an issue there, but providing a full repro requires an azure db with

[2021-08-19 09:20] ErikEJ commented on #82
@ionmincu Can you at least share your DbConfiguration and DbContext maybe?

[2021-08-19 09:21] ErikEJ commented on #82
@jvanderwoude80 Thanks for confirming that your issues are not releated to the EF6 provider, getting closer to RTM!

[2021-08-19 10:20] ionmincu commented on #82
@ErikEJ  I've managed to create a simple POC project that reproduces the error.

https://github.com/ionmincu/EfTesting/blob/master/EfTesting/Program.cs#L28

[2021-08-19 10:28] ErikEJ commented on #82
Thanks, you should not be using the resolver, and I have no mention of that in my docs.

I will try to fix your repro.

[2021-08-19 10:31] ionmincu commented on #82
It's true, it's not in the docs, but if I dont use that the provider seems to not change, see `WriteDebugProvider` in the POC repo.

[2021-08-19 11:28] ErikEJ commented on #82
@ionmincu  Thanks, I was able to see what was going on now (lack of smoke testing!). Working on a fix!

[2021-08-19 13:46] ErikEJ commented on #82
@ionmincu Thanks for your testing, this is now fixed in RC5, which everyone watching this should be using!

[2021-08-19 14:38] ionmincu commented on #82
@ErikEJ thank you, seems to be working now 👍

[2021-08-23 07:07] ErikEJ commented on #82
@ionmincu @robertmclaws @jvanderwoude80
Can we go to version 1.0.0 RTW with the provider?

[2021-08-23 08:08] jvanderwoude80 commented on #82
As far as I'm concerned, certainly!

[2021-08-24 09:02] ionmincu commented on #82
I guess so, appears to work in our e2e tests, but, just so you know this purely experimental for our project (for now).

[2021-08-24 09:57] ErikEJ commented on #82
Thanks, RTW coming up!

[2021-08-24 09:57] #82 closed

[2021-08-25 12:04] ionmincu opened #85 "Can not use this from app.config configuration only. Documentation bug?"
# Description
Adding the section as described in documentation does not work.
[code]

I've also added:
[code]

# Exception

At startup I'm getting the following exception
[code]

[2021-08-25 12:06] ErikEJ commented on #85
??? No idea what you are referring to?

[2021-08-25 12:07] ionmincu commented on #85
Sorry pressed shit enter by mistake and the comment just posted, check edited version 😄

[2021-08-25 12:10] ErikEJ commented on #85
.net core or .net framework?

It works with the Smoke test for .net Framework.

[2021-08-25 12:10] ionmincu commented on #85
.NET Core 5.0

[2021-08-25 12:13] ErikEJ commented on #85
Please share a full repro.

[2021-08-25 12:14] ErikEJ commented on #85
I doubt that will work, but please share a repro.

[2021-08-25 12:37] ionmincu commented on #85
Check, https://github.com/ionmincu/EfTesting

[2021-08-25 12:40] ErikEJ commented on #85
I don't think .NET 5 knows anything about app.config

[2021-08-25 12:42] ionmincu commented on #85
It most definitely does, try to delete it and you will se another error.

[2021-08-25 14:22] ErikEJ commented on #85
Thanks or the repro, proposed update to the docs:

You can also use XML/App.Config based configuration:

[code]
If you use App.Config with a .NET Core / .NET 5 or later app, you must register the DbProviderFactory in code once:

[code]

[2021-08-25 15:19] #85 closed

[2021-09-03 09:28] ErikEJ opened #86 "Consider support for VS 2022"

[2021-09-03 13:43] bwolven commented on #86
Please Add support for the 3.1 preview version.

[2021-09-04 09:11] ErikEJ commented on #86
@bwolven What do you actually need this extension for?

[2021-09-04 22:46] robertmclaws commented on #82
Hey @ErikEJ, seems like the EF Designer has a hard time functioning with Microsoft.Data.SqlClient as the Provider.

app.config in my Data project looks like this:

[code]

I'm sure I'm missing something here... any ideas (besides changing it back while I'm editing EDMX files)? Thanks!

[2021-09-05 05:50] ErikEJ commented on #82
@robertmclaws Your connection string seems to still refer to System.Data.SqlClient.

If you have an EDMX, you also need to update the Provider Name in the EDMX file, as per the readme.

[2021-09-05 15:07] robertmclaws commented on #82
Good catch on the connection string. Still getting "Error 175: The ADO.NET provider with invariant name 'Microsoft.Data.SqlClient' is either not registered in the machine or application config file, or could not be loaded. See the inner exception for details." when I try to open the adjusted EDMX file in the designer.

[2021-09-05 15:14] ErikEJ commented on #82
Have you tried to register the provider by hand in machine.config? The VS process needs to know about it, based on the invariant name in the EDMX.

[2021-09-05 15:15] ErikEJ commented on #82
Happy to have a look if you can share a repro .NET Framework project with an EDMX file.

[2021-09-05 15:21] robertmclaws commented on #82
Not sure if I can provide a repro, but we'll see.

Doesn't a machine.config situation mean that the provider would need to be GAC'd, like this: https://github.com/ErikEJ/SqlCeToolbox/wiki/EF6-workflow-with-SQLite-DDEX-provider

[2021-09-05 15:24] ErikEJ commented on #82
Yes, which is most likely not something you want to do.

Again, happy to have a play with a simple repro.

[2021-09-05 16:01] ErikEJ commented on #82
I had a play, I think it is not possible - your system.data section is wrong, though:

https://docs.microsoft.com/en-us/sql/connect/ado-net/obtain-sqlclientfactory?view=sql-server-ver15#register-sqlclientfactory

Final attempt would be to try machine.config, info on how to get the correct values are here: https://github.com/dotnet/SqlClient/issues/836#issuecomment-741698106

(But then you also nee

[2021-09-05 18:04] robertmclaws commented on #82
GACing + machine.config did not help. Put it in both the 32 and 64 bit machine.config versions, restarted the machine, no dice.

When you open the EDMX file in the text editor with `Provider="Microsoft.Data.SqlClient"` set, you get a different error:
`Error 4: The given assembly name or codebase was invalid. (Exception from HRESULT: 0x80131047)`.

[2021-09-06 05:46] ErikEJ commented on #82
@robertmclaws Thanks, I think we can conclude that this library is a runtime solution that enables you to move forward, including away from using EDMX files 😄

[2021-09-08 13:17] ErikEJ commented on #86
@bwolven Ping?

[2021-09-08 13:38] bwolven commented on #86
Mainly use it to generate views: Generate Views

[2021-09-08 13:40] ErikEJ commented on #86
@ErikEJ Thanks for the info!

[2021-09-13 18:12] ErikEJ commented on #86
https://github.com/cincuranet/EdmGen2/blob/master/src/EdmGen2/EdmGen2.cs

[2021-09-16 17:13] CZEMacLeod commented on #86
@ErikEJ I've started a little bit of code for an MSBuild Task packaged up as a NuGet that will grab an .edmx from your project (with the build action set to `EntityView`) and generate an intermediate file with the Views before build and include it with the compile.
This would allow the project to be 'always up to date' and even work on a build server, rather than rely on a user manually intervenin

[2021-09-16 18:45] ErikEJ commented on #86
@CZEMacLeod that sounds like a very useful replacement for this crippled tool

[2021-09-19 02:41] jonreis commented on #86
I was just looking for the same thing, to be able to generate views in Visual Studio 2022. It looks like the rest of the EF 6 functionality is already there in VS 2020 i.e. generate model from database.

[2021-09-21 10:44] CZEMacLeod commented on #86
My current task is part of suite of stuff we use internally. Once I have a moment, I'll try and break it out as a separate project/package.
It works for me just now, but I'm sure there is a lot of stuff that will need tidying up, and it makes a few assumptions which may or may not be valid for all use cases.
I would be more than happy to make this a 'community' project and accept help on making it

[2021-09-23 08:53] CZEMacLeod commented on #86
A first draft of my MSBuild based `GenerateViews` task is now online at [CZEMacLeod/C3D.MSBuild.Tools.EF6.GenerateViews](https://github.com/CZEMacLeod/C3D.MSBuild.Tools.EF6.GenerateViews) and the package is at [C3D.MSBuild.Tools.EF6.GenerateViews](https://www.nuget.org/packages/C3D.MSBuild.Tools.EF6.GenerateViews).
It makes quite a few assumptions, but there are a couple of sample applications ava

[2021-09-23 13:55] ErikEJ commented on #86
@bwolven @jonreis Would be great if you could give this build task a try!

[2021-10-01 13:06] LeopoldLerch opened #87 "Defaults not set in Table"
Hi,
I am using EF6 in Code-First. I have the strange problem, that obviously defaults are not set in tables when the migration is applied using your Nuget-Package
ErikEJ.EntityFramework.SqlServer.

I use it by setting
 DbConfiguration.SetConfiguration(new MicrosoftSqlDbConfiguration());
in the configure-Method in Startup. Authorization etc works fine (i am using Azure integrated authentication)

W

[2021-10-01 13:20] ErikEJ commented on #87
Limited rights to the database?

I probably need a repro project.

[2021-10-01 13:23] LeopoldLerch commented on #87
No, it is the same database, tried even with the same connectionstring (with user/password authentication)

When simply commenting out
`DbConfiguration.SetConfiguration(new MicrosoftSqlDbConfiguration())`

the table is set up with correct defaults. When deleting the migration from history and the tables, remove the comment from the config above and rerunning it, the table is created also, but the

[2021-10-01 13:24] ErikEJ commented on #87
I need a simple repro.

[2021-10-01 13:28] LeopoldLerch commented on #87
Will a Model help, from which you then can generate a migration for your database?

[2021-10-01 13:33] ErikEJ commented on #87
Sure, an console app with just the model.

[2021-10-01 14:10] LeopoldLerch commented on #87
[EFTestApp.zip](https://github.com/ErikEJ/EntityFramework6PowerTools/files/7267774/EFTestApp.zip)

You will need to insert your own connectionString of course. When commenting in the DBConfiguration-Line, the Defaults for the DateTime-Columns are not set. When commented out, they are correct.

Thanks

[2021-10-01 15:33] ErikEJ commented on #87
Sure, create a seperate .csproj/package and use conditional compilation.

[2021-10-01 15:33] #87 closed

[2021-10-01 15:47] CZEMacLeod commented on #87
@LeopoldLerch Pretty sure, as it is just a string value, you can register both and it will pickup based on the provider in use.

[code]

I have something very similar to the `DefaultValueSqlServerMigrationSqlGenerator` in my own code, although I have extension methods in the same library that sets up my DbMigrationsConfiguration and DBContexts which I call in the constructors.
This means that I sh

[2021-10-01 16:19] LeopoldLerch commented on #87
Sure that i can Register both? Dont they Override each other?

Will try in monday. Thx

Cynthia MacLeod ***@***.***> schrieb am Fr., 1. Okt. 2021,
17:47:

[2021-10-10 23:42] InteXX opened #88 "Slow Going"
@ErikEJ

So far today I've been unable to load `ErikEJ.EntityFramework.SqlServerCompact` for testing, due to my sharply limited bandwidth (1Mbps incoming). Because of this limit, it's proving difficult to restore the `Microsoft.Windows.Compatibility` dependencies—one or more packages always time out, requiring a restart of the process. I'm caught in a loop.

My local ISP has plans for a speed upgr

[2021-10-11 04:09] InteXX commented on #88
I managed to get the `Microsoft.Windows.Compatibility` dependencies restored to local cache, by running a simple script from the Package Manager console that contained a call to `Install-Package` on each line followed by the package name. This enabled the downloads to run synchronously. (It was NuGet's asynchronous nature that was leading to the timeouts.)

But I managed with all of this mess to u

[2021-10-11 04:09] #88 closed

[2021-11-10 17:41] kev160967 commented on #86
@CZEMacLeod Will this work with an edmx file that generates an ObjectContext based model? We've currently got one large project that is still stuck with ObjectContexts rather than using a DbContext. I noticed your samples and Readme.md both refer to DbContext?

[2021-11-10 21:28] CZEMacLeod commented on #86
@kev160967 I'm not entirely sure. The commands invoked under the bonnet are basically the same as with the powertools command, but you would have to generate the EDMX file somehow. I am not sure of the way to do that with an ObjectContext.
The EdmxWriter object supports writing from a DbContext or a DbModel.

[2021-11-11 09:06] kev160967 commented on #86
@CZEMacLeod Thanks for the reply. I do have an EDMX file, its just configured to produce an ObjectContext model, so I should be fine - I'm currently creating the views manually with the powertool, so a build step would be a great improvement, even if the move to VS2022 wasn't forcing my hand. I'm currently working on a different project, but hopefully I'll have a chance to check out the tool later

[2021-11-12 19:37] jonreis commented on #86
@CZEMacLeod thank you for creating the task! It worked well for me.
@ErikEJ sorry it took me this long to try it out.

[2021-11-13 03:47] CZEMacLeod commented on #86
@jonreis I am using code first in my case, so I don't embed the edmx/csdl/msl/ssdl files at all, but you can absolutely have both `EntityDeploy` and `EntityView` at the same time.
I'm glad it is working for you. It is still a pretty rough/barebones implementation, but if there are any improvements needed, feel free to raise an issue or even a PR if you feel like contributing code 😄

[2021-11-13 14:12] alpSaral commented on #86
I've been using this tool to create pre-views for years. Thanks for your efforts.

I use a little code that I derive from the DefaultDbModelStore class in my projects to generate EDMX.

If the build date of the project with the DbContext class is older than the build date of the application project, it creates the new EDMX file one time.

It works great this way. Please add VS2022 support.

Thanks

[2021-11-13 14:33] ErikEJ commented on #86
@alpSaral please try out the solution mentioned above, I am reluctant to update a tool with just one usable feature

[2021-11-16 17:37] kev160967 commented on #86
Sorry for being dense, but I'm not sure how to set this up. At the moment we have a VB project, .Net 4.7,2, with the EDMX file in it, and several T4 files that generate the context, data classes and some interfaces. Currently when the model is updated we need to right click on the EDMX and use the generate views feature. This is the part of the project file that controls the code generation:

[cod

[2021-11-16 17:48] ErikEJ commented on #86
@madskristensen what is the timeline for support for multiple packages for a single id in Marketplace?

[2021-11-16 18:09] madskristensen commented on #86
No word yet from the team. Not this calendar year

[2021-11-16 20:00] ErikEJ commented on #86
@madskristensen Thanks for the candid info. I will make an informed decision. Assume stopping support for VS 2019 and archive is the simplest way forward for now.

[2021-11-17 08:53] CZEMacLeod commented on #86
@kev160967

[code]

Should be pretty close to getting you going. Now, when building, it will add a file `\obj\Debug\net472\EntityViews\SaturnContext.Views.vb` file (or similar based on your DbContext name, configuration and framework options) and include it for compilation automatically. You do not need to check this into source control as it will be recreated automatically by the build step.
You

[2021-11-17 09:04] CZEMacLeod commented on #86
@ErikEJ My feeling would be to publish `ErikEJ.EntityFramework6PowerToolsCommunityEdition.2019` and `ErikEJ.EntityFramework6PowerToolsCommunityEdition.2022` and a new `ErikEJ.EntityFramework6PowerToolsCommunityEdition` metapackage that included them both for install.

This way you can always install `ErikEJ.EntityFramework6PowerToolsCommunityEdition` and it will install the appropriate one, and in

[2021-11-17 09:07] kev160967 commented on #86
@CZEMacLeod Perfect, thank you, all working now

[2021-11-17 11:53] ErikEJ commented on #86
So still no urgency to update and support a VS 2022 version - thans @CZEMacLeod

[2021-11-25 12:42] Technocrux commented on #86
Why are we avoiding it, to be exact. From the above discussion it is unclear whether you are providing a solution/way around or going against it. Please guide.

[2021-11-25 12:49] ErikEJ commented on #86
Because it is a lot of unpaid work fore to do it and support it in the future.

[2021-11-25 12:59] CZEMacLeod commented on #86
@Technocrux Can you let us know which feature/features you are specifically using; there may be alternative ways to achieve what you want in VS2022.

[2021-11-25 13:59] Technocrux commented on #86
I had been using GenerateViews from EF 6 Power tools, I cannot install EF 6 power tools on 2022 VS edition, any alternate?

[2021-11-25 14:57] ErikEJ commented on #86
Yes, read through this issue.

[2021-11-26 11:45] Technocrux commented on #86
Anything I can do to help :) I saw the whole thread but could not got a clue if we are avoiding it or also giving a solution to it as well for those who still want it. Lets say I take the code and build locally, can I do it again, any guide, else I have installed 2019 to side by side, only for generating views, my bad, may be later on Upgrade to EF Core and get rid of this odd flow

[2021-11-26 12:01] kev160967 commented on #86
You should consider using @CZEMacLeod 's package if all you are doing is generating views. My scenario was an EDMX model being used to generated classes and a context. My context was ObjectContext based but it would work equally well with DbContext. My views are now generated automatically on every build, so no more forgetting to use the menu and wasting time doing a build and starting a debug ses

[2021-11-26 12:48] ErikEJ commented on #86
@Technocrux See https://github.com/ErikEJ/EntityFramework6PowerTools/issues/86#issuecomment-925622369 and https://github.com/ErikEJ/EntityFramework6PowerTools/issues/86#issuecomment-971366826 here

[2021-12-01 10:56] ronaldpschutte opened #89 "Reverse Engineering does not start"
System.Exception: Table list error:
Unhandled exception. System.BadImageFormatException: Could not load file or assembly 'C:\Users\me\AppData\Local\Temp\efreveng6.2.5.832.0\efreveng60.dll'. An attempt was made to load a program with an incorrect format.
File name: 'C:\Users\me\AppData\Local\Temp\efreveng6.2.5.832.0\efreveng60.dll'

   at List<TableModel> EFCorePowerTools.Handlers.ReverseEngineer.R

[2021-12-01 11:31] ronaldpschutte commented on #89
Could it be that it is trying to load a 32 bit in 64 bit now?

[2021-12-01 12:14] ErikEJ commented on #89
You are in the wrong repository, duplicate of https://github.com/ErikEJ/EFCorePowerTools/issues/1141#issuecomment-945709906

[2021-12-01 12:14] #89 closed

[2021-12-11 09:34] avmakesh commented on #86
@kev160967  Hi, We are also using the ObjectContext (EntityFramework ). Could you please help me, how to solve the issue that explained by [https://github.com/ErikEJ/EntityFramework6PowerTools/issues/86#issuecomment-971366826](url) ?

[2021-12-13 10:03] kev160967 commented on #86
@avmakesh [this reply ](https://github.com/ErikEJ/EntityFramework6PowerTools/issues/86#issuecomment-971366826)from @CZEMacLeod says it all really. If you make those changes to your project file it will cause the views file to be generated automatically whenever you build your project, either locally or on a build server. You will need to manually remove the existing file that you've been generatin

[2021-12-16 12:45] ErikEJ commented on #62
No plans to do this

[2021-12-16 12:45] #62 closed

[2022-01-12 18:45] chuckthompsonprofisee commented on #82
I have a .net 4.7 app that uses EF 6.4.4 and I added your latest version of this assembly.  I updated the context and added the required attribute.
but it seems like its still using the system.data.sqlclient as I get this error when trying to connect.
The connection string uses a managed identity so it has Authentication=ActiveDirectoryManagedIdentity in the connection string
which I know will not

[2022-01-12 18:53] ErikEJ commented on #82
Follow the read me, make sure to reference only my package from all involved projects.

In order to help further I need to see your code.

[2022-01-18 05:28] Angry-Emu commented on #86
We currently use this tool to create views by right clicking on the DBContext. There is no EDMX file in our solution. Would the above MSBuild solution work for that?

[2022-01-18 08:24] CZEMacLeod commented on #86
@Angry-Emu The process uses an EDMX file to generate the views - the original extension actually generates the EDMX first, then the views from that.
In the [samples](https://github.com/CZEMacLeod/C3D.MSBuild.Tools.EF6.GenerateViews/tree/main/samples), there is code showing how to export your EDMX from a code-first type scenario (or basically any DBContext).

[2022-01-18 08:35] ErikEJ commented on #86
@CZEMacLeod Thanks!

[2022-01-24 00:15] henrypandales opened #90 "i have a problen with Visual Studio 2022 no can install ADO:NET EF6 Tolls"
i have a problen with Visual Studio 2022 no can install ADO:NET EF6 Tolls
What can do?

Please write me to my whatsapp +57 3147754208  from Colombia

[2022-01-24 08:51] ErikEJ commented on #90
This is the wrong repository for this, I you need help with Visual Studio, use https://developercommunity.visualstudio.com/home

[2022-01-24 08:51] #90 closed

[2022-02-02 21:07] eolamisan commented on #82
How to configure "SetDefaultConnectionFactory" with MicrosoftSqlConnectionFactory?

[2022-02-02 23:26] eolamisan commented on #82
Also, is LocalDb supported? Getting this error message:
"Oops! Only SQL Server is currently supported for BatchSaveChanges. More provider is coming soon."

[2022-02-02 23:41] eolamisan commented on #82
Looks like this message is actually coming from a third-party:
https://entityframework-extensions.net/batch-savechanges

[2022-02-03 07:09] ErikEJ commented on #82
@eolamisan

Why do you need it - you can just use

    DbConfiguration.SetConfiguration(new MicrosoftSqlDbConfiguration());

Ask the author for an update, looks like they have a hardcoded check for System.Data.SqlClient

I am going to lock this issue now. Happy to help you further in new issue(s).

[2022-02-03 07:18] ErikEJ commented on #82
@eolamisan >> This is what I am trying now:

And that does not work?

[2022-02-03 07:27] ErikEJ commented on #82
@eolamisan I have created this issue: https://github.com/zzzprojects/EntityFramework-Extensions/issues/467

[2022-02-05 07:43] ErikEJ opened #91 "Add ErikEJ.EntityFramework.SqlServerCompact.Legacy ?"

[2022-02-07 17:59] jtrout commented on #86
@kev160967 I'm not doing anything outside the native t4 generation, but I did still need to leave the EntityDeploy step in or my OData controllers would return "Unable to load the specified metadata resource" when trying to load the data. Everything went back to working properly as soon as I returned that step. But having the two steps referencing the same file meant the file was duplicated in my

[2022-02-07 19:00] kev160967 commented on #86
Yes, now you mention it I do - I noticed it a few weeks ago, but hadn't connected it to the project file changes. It doesn't seem to cause any issues though

[2022-02-07 19:01] jtrout commented on #86
Awesome, I feel better then :) Thanks!

~Justin

[2022-03-02 16:35] Jeb135 opened #92 "Unable to cast object of type 'Microsoft.Data.SqlClient.SqlConnection' to type 'System.Data.Entity.Core.EntityClient.EntityConnection'"
Hi, I am using EF 6.4.4 in a large .NET Framework 4.7.2 solution and attempting to migrate EF from using System.Data.SqlClient to Microsoft.Data.SqlClient. I found this library for using Microsoft.Data.SqlClient as an EF provider and managed to get this working with a `DbConfiguration` class like so:
[code]
However, at runtime, when I attempt to use EF I receive the error in the title, "Unable to

[2022-03-02 17:09] ErikEJ commented on #92
I think I need a repro project - you can share privately.

[2022-03-02 18:09] Jeb135 commented on #92
Ok, give me some time to create one that's pared all the way down to just the problem area.

[2022-03-02 18:13] ErikEJ commented on #92
Perfect!

[2022-03-02 18:26] ErikEJ commented on #92
Are you using DbContext? Or ObjectContext?
I suspect that my package may only work with DbContext.

[2022-03-02 18:37] Jeb135 commented on #92
I am using DbContext

[2022-03-02 18:41] ErikEJ commented on #92
Your connection string indicates otherwise. Do you use an edmx file and have you updated that?

[2022-03-02 18:46] Jeb135 commented on #92
Yes I do have an EDMX and I have updated it. What in the connection string makes it appear to be using ObjectContext?
[code]

[2022-03-02 18:48] ErikEJ commented on #92
That the connection string is for a EntityConnection, not a SqlConnection

[2022-03-02 18:50] Jeb135 commented on #92
Hmm I do have another connection string for direct sql connections when we're not using EF, but EF doesn't like that one due to the lack of the metadata.
[code]

[2022-03-02 18:57] ErikEJ commented on #92
I will await a repro.

[2022-03-03 18:19] ErikEJ commented on #92
Any news?

[2022-03-03 18:40] Jeb135 commented on #92
Apologies it's been slow trying to get a working repo together, and got sidetracked looking into if this is a possible "code first" vs "database first" issue somewhere. I should have something available this afternoon, however.

[2022-03-03 21:33] Jeb135 commented on #92
Ok so I can't reproduce my specific error in this repo (or I havent added a dependency/bit of code that is relevant to the larger solution that's causing this), but having another issue with the connection strings that might be related. The repo is here: https://github.com/Jeb135/MSSqlClientAndEF

You can use either the ASP.NET app or the console app to run it, but depending on which connection st

[2022-03-04 12:52] ErikEJ commented on #92
I did some testing:
1. Your EDMX must live in a "Classic" .csproj, not a modern one.
2. Your connection string is wrong, last part must be **"System.Data.EntityClient"**
[code]

[2022-03-04 15:53] Jeb135 commented on #92
Ya know, the more I work on this more I realize I don't understand EF at all. So changing the `providerName` attribute in the connection string to `System.Data.EntityClient` resolved the issue in both the repo and the original solution that spawned this issue. I guess I don't really understand the difference between this provider and the provider in the connection string being Microsoft.Data.SqlCl

[2022-03-04 15:55] ErikEJ commented on #92
So everything works as expected now?

[2022-03-04 16:43] Jeb135 commented on #92
I thought so but doing some testing the error is now occurring in other areas (but working fine in the original ones). I will report back once I know more.

[2022-03-04 16:56] Jeb135 commented on #92
Ok this appears to now be a unity injection of EF issue unrelated to this package if you want to close this. Otherwise I can update when I have fully resolved in case anyone might run into a similar problem in the future.

[2022-03-04 16:58] ErikEJ commented on #92
I will leave it open until I have added a note about the edmx connection string to the readme

[2022-03-04 21:16] jdavi37 opened #93 "The Provider Manifest is incorrect"
Hello!

My team is working on a project which uses Entity Framework 6.4. However due to project requirements we need to migrate to using Microsoft.Data.SqlClient, and so we are using your NuGet package. We removed references to EntityFramework, installed your nuget package, updated our custom DbContext with the DBConfigurationType attribute `[DbConfigurationType(typeof(System.Data.Entity.SqlServer

[2022-03-05 02:08] CZEMacLeod commented on #93
@jdavi37 To use HierarchyId or the spatial you need to load the sql server types from a custom assembly. Not sure exactly how this works for Microsoft.Data.SqlClient, but I'm guessing you need startup code similar to
[code]
Note that I have changed the 'normal' `System.Data.Entity.SqlServer.SqlProviderServices` to `System.Data.Entity.SqlServer.MicrosoftSqlProviderServices` so that the new provider

[2022-03-05 06:30] #92 closed

[2022-03-06 09:29] ErikEJ commented on #93
I was not able to repro after following the guide for mapping here: https://softwarehut.com/blog/tech/hierarchyid-entity-framework - in a .NET Framework project with Code First from Database.

[2022-03-06 11:14] #91 closed

[2022-03-09 09:14] ErikEJ commented on #93
@jdavi37 You can share something and let me know via email: ejlskov at hotmail dot com

[2022-03-09 13:23] jdavi37 commented on #93
Sent the repro project and some details over to you.

[2022-03-09 14:55] ErikEJ commented on #93
Thanks for the repor project, unable to repro on my PC.

For the affected PCs:

Which exact VS version?
Which OS version?
Which SQL Server version do they access?

Do they have: "Microsoft SQL Server System CLR Types" installed? (check in Add/Remove)

[2022-03-09 17:56] jdavi37 commented on #93
Affected PCs:
machine 1
Visual Studio Professional 2019 16.4.2
Windows 10 Enterprise 10.0.18362
SQL Server 2014 12.0.5000.0
has "Microsoft System CLR Types for SQL Server 2014" installed

machine 2
Visual Studio Enterprise 2019 16.11.9
Windows Server 2019 Datacenter, version 1809, OS build 17763.2452
SQL Server 2019 15.0.4.188.2
has "Microsoft System CLR Types for SQL Server 2019 CTP2.2" installed

[2022-03-09 18:33] ErikEJ commented on #93
@jdavi37 I honestly have no idea...

[2022-03-09 18:42] ErikEJ commented on #93
Oddly enough I see the same error in VS 2022 XML editor:

![image](https://user-images.githubusercontent.com/4169187/157509507-dcbe8997-2591-4fe0-bb9d-04f8b87b5df0.png)

[2022-03-09 19:15] ErikEJ commented on #93
Just a thought: is EntityFramework.dll in GAC?

You can run

    gacutil /l > gaclist.txt

and look at the result

[2022-03-10 13:00] jdavi37 commented on #93
It is not in the GAC, according to that command.

[2022-03-10 13:50] ErikEJ commented on #93
I have run out of good ideas atm

[2022-03-10 15:54] jdavi37 commented on #93
So I checked again (not sure how I missed it the first time) and we did have EF 6 dlls in the GAC on these machines, and removing them resolves the issue. Thanks so much!

[2022-03-10 16:37] ErikEJ commented on #93
Hooray!!

And thanks for your patience and help. This is also very valuable for future usage of this library, I will add this info to the docs.

[2022-03-10 17:15] #93 closed

[2022-03-14 14:40] Zyano opened #94 "Microsoft.SqlServer.Types with Microsoft.Data.SqlClient"
Hey,

Has anyone managed to get Microsoft.SqlServer.Types working with the modified [provider](https://github.com/ErikEJ/EntityFramework6PowerTools/tree/community/src/ErikEJ.EntityFramework.SqlServer)?

Specifically DbGeography. Reading data from the database works as expected correctly, but when I try to perform an update the program crashes with what appears to be a mapping issue between a `Micr

[2022-03-14 15:20] ErikEJ commented on #94
Please share a complete repro project, and I will have a look.

[2022-03-14 15:28] Zyano commented on #94
Sure I will look at making a basic implementation and create repo for it. I expect to have it ready tomorrow.

[2022-03-15 11:05] Zyano commented on #94
I've created the repository with the code that resembles the setup we use without a lot of the boilerplate.
url: https://github.com/Zyano/EF6-MSSQL

I hope it helps.

[2022-03-15 15:56] ErikEJ commented on #94
Wonder if it is possible to use the @dotMorten library like [described here](https://github.com/ErikEJ/EntityFramework6PowerTools/issues/93#issuecomment-1059650798) ?

[2022-03-15 16:27] ErikEJ commented on #94
Maybe the conculsion is that support for using this provider with DbGeography, DbGeometry and HierarchyId is not supported?
@ajcvickers @bricelam ?

[2022-03-15 18:00] ajcvickers commented on #94
We will look into it when doing official support for Microsoft.Sql.ServerClient in EF6, but it may end up not being supported until Microsoft.SqlServer.Types is officially supported on modern .NET.

[2022-03-16 02:43] dotMorten commented on #94
@ajcvickers are there plans for this finally so I ultimately can stop maintaining my version?

[2022-03-16 06:21] ErikEJ commented on #94
@dotMorten Work is [in progress]>(https://github.com/dotnet/SqlClient/pull/1491/files), but dont hold your breath

[2022-03-16 18:48] ErikEJ commented on #94
Updated know issues section in readme.md

[2022-03-16 18:48] #94 closed

[2022-03-17 02:07] bricelam commented on #94
lol, I'm a bit more optimistic than that. After eight years of asking them for this, they actually started writing some code...

[2022-03-17 12:05] Zyano commented on #94
Figured I would give a small update on how we ended up "solving" the issue and why we wanted to switch over in the first place.

We are trying to move towards .NET 6 and the newer .NET technologies in general. As part of that journey we noticed that System.Data.SqlClient doesn't support 'Always Encrypted' (a feature we are required to use). So in order to solve the problem the decision was made to

[2022-03-17 13:19] ErikEJ commented on #94
That is exactly why this library was created!

I also tried your repro and hit the same issue. I have updated the docs, and hoping for an improved M.D.S. provider in the future.

[2022-03-17 19:55] ajcvickers commented on #94
@Zyano I realize you may have reasons not to use EF Core, but it has support for spatial types through integration with Net Topology Suite that work with SQL Server (and other databases) without the need for Microsoft.SqlServer.Types.

[2022-03-19 21:45] burrowj opened #95 "EntityFramework edmx does not support Provider="Microsoft.Data.SqlClient""
Firstly thanks the workaround you have provided!

This is an issue that I think you are aware of but was wondering if you plan on adding a fix or if I'm doing something wrong.  I Have two projects.  The business project has the edmx file and designer.  The API project has the controllers.  With your software I can get everything to work as long as I change the edmx file set as below.

<edmx:Storag

[2022-03-20 06:52] ErikEJ commented on #95
This is a limitation in the Visual Studio designer, and out of my control.
In other words, this package is a run-time solution, not a design time solution.
I will try to add this to the EDMX related docs.

[2022-03-20 07:01] #95 closed

[2022-03-20 07:01] ErikEJ commented on #95
@burrowj Would be grateful if yo could have a look at the docs update here: https://github.com/ErikEJ/EntityFramework6PowerTools/commit/915dc4be3751351bc45b06f8e133e8241d0166a7

[2022-04-06 11:16] Zyano commented on #94
@ajcvickers Sorry for the delay in response.
We are actively working towards upgrading from .NET Framework and EF 6.4 to .NET 6 and EF Core. As part of that process all new projects would be built using .NET 6 requiring us to update to Microsoft.Data.SqlClient in order to meet the encryption requirement mentioned earlier.

At the end of the day this is all intended to be "temporary" while we upgra

[2022-06-26 08:47] GianniDPC opened #96 "Add support for Visual Studio 2022"
Would it be possible to add support for VS 2022? It would be useful for those stil developing on .NET Framework and using EF 6.

[2022-06-26 09:40] ErikEJ commented on #96
Duplicate of #86 please explain why you need it there

[2022-06-26 09:40] #96 closed

[2022-07-05 07:13] crydante opened #97 "Update SQLClient to last version 4.1"
Hello,

Do you think it's possible for me to get the source and update Microsoft.Data.SqlClient to 4.1 ?

My app is on Net Core 3.1 so it should be ok but maybe there is warnings i am not aware.

Thanks

[2022-07-05 09:12] #97 closed

[2022-07-26 15:29] ShahidRasheed opened #98 "The requested .Net Framework Data Provider's implementation does not have an Instance field of a System.Data.Common.DbProviderFactory derived type."
Hi Erik,
I am updating our NuGet libraries to use Microsoft.Data.SqlClient. Libraries use .Net framework 4.7.2, and I have installed Microsoft.Data.SqlClient, along with your package.

I am running into the following exception:
`System.InvalidOperationException: The requested .Net Framework Data Provider's implementation does not have an Instance field of a System.Data.Common.DbProviderFactory der

[2022-07-26 16:09] ErikEJ commented on #98
A small console app that demonstrates the issue - maybe you need Code based configuration as well (dispite the docs saying something else) - I have not done a lot of .NET Framwork testing.

[2022-07-26 16:46] ShahidRasheed commented on #98
@ErikEJ what should be my defaultConnectionFactor? I have following in my app config.
`<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />`

[2022-07-26 17:14] ErikEJ commented on #98
That looks wrong. I dont think my readme mentions that you should have that in your app.config.

But I cannot help you based on fragments of code, please share a runnable simple app that exhibits the issue.

[2022-07-26 17:37] ErikEJ commented on #98
This sample should demonstrate app.config based use with .NET Framework

https://github.com/ErikEJ/EntityFramework6PowerTools/tree/community/test%2FSmokeTestNetFx

[2022-07-27 08:37] ErikEJ commented on #98
@ShahidRasheed There was missing parts in the app.config configuration, you need to add this as well, then pure app.config based configuration will work:

[code]

[2022-07-27 08:45] #98 closed

[2022-07-28 12:32] ErikEJ opened #99 "Experimental DbDataSource for SqlClient (SqlDataSource) ?"
Must create two packages:

ErikEJ.SqlClient.SqlDataSource

ErikEJ.SqlClient.DependencyInjection

https://khalidabuhakmeh.com/logging-trace-output-using-ilogger-in-dotnet-applications

https://github.com/npgsql/npgsql/blob/main/src/Npgsql/NpgsqlDataSource.cs

https://github.com/npgsql/npgsql/tree/main/src/Npgsql.DependencyInjection

[2022-07-28 14:07] ShahidRasheed commented on #98
@ErikEJ thanks, on comparison I see the type is different in my config. I will update the config and remove the code updates. Will send an update once done.

[2022-07-28 14:34] ErikEJ commented on #98
@ShahidRasheed all required config is documented in the readme.

[2022-08-06 22:40] malixg opened #101 "Not working for upgrade to .net 6"
I have an application that uses EF with SQLEXPRESS2019 and always encrypt. I'm trying to migrate from .net framework 4.8 to .net 6. I'm well into the process and getting stuck at the error "Keyword not supported: 'column encryption setting'". My searches brought me here. I've installed the nuget package. I've added the DbConfigurationTypeAttribute(typeof(MicrosoftSqlDbConnection) as well as callin

[2022-08-07 05:46] ErikEJ commented on #101
@malixg You are doing something wrong. But I cannot tell what without a repro project.

[2022-08-08 09:36] ErikEJ commented on #101
It should be:

   [DbConfigurationType(typeof(MicrosoftSqlDbConfiguration))]

[2022-08-08 09:36] #101 closed

[2022-08-08 12:18] ErikEJ opened #102 "Update to SqlServer provider"
Remove spatial support completely

Remove MicrosoftSqlFunctions

[2022-08-08 13:56] #102 closed

[2022-08-09 09:15] ErikEJ commented on #82
Anyone watching this: version 6.5.0-rc1 has been released.

Use M.D.S. 4.0.1 and removes some unused classes from the library, including all spatial and MicrosoftSqlFunctions

[2022-08-14 03:26] MikeFarrington commented on #101
I too am having issues getting this to work.  I've stripped my solution down to next to nothing to rule out as much as possible.  It's a .NET 6 WPF app, without an app.xaml, and neither the DbConfigurationType attribute nor DbConfiguration.SetConfiguration method is working.  Though, I am not seeing System.Data.SqlClient like @malixg is seeing.

I'll try to strip down the project as much as possib

[2022-08-14 05:45] ErikEJ commented on #101
@MikeFarrington looking forward to your repro

[2022-08-14 14:17] ErikEJ commented on #101
@MikeFarrington And please create a new issue with your repro

[2022-08-14 22:17] MikeFarrington commented on #101
Well, don't I feel dumb...

After many hours struggling with everything, it wasn't until looking at the available properties in SqlConnectionStringBuilder and seeing ColumnEncryptionSetting did I realize that I now need to add "Column Encryption Setting=true" to my connection string, whereas it was all very transparent and automatic previously.

Welp, there's a weekend I won't get back.  Once agai

[2022-09-05 10:12] ErikEJ opened #103 "Investigate possibility of using Microsoft.SqlServer.Types 160.900.6-rc0"

[2022-09-05 11:38] ErikEJ commented on #103
@stevetalkscode Looks like it "just works"™  but I have just done a simple smoke test. I will publish a 6.6.0-rc1 package on NuGet that you can try

[2022-09-05 12:01] ErikEJ commented on #103
Package published now: https://www.nuget.org/packages/ErikEJ.EntityFramework.SqlServer/6.6.0-rc1

[2022-09-05 12:01] #103 closed

[2022-09-05 12:06] ErikEJ commented on #94
@Zyano @dotMorten A Microsoft.SqlServer.Types package with .NET Standard 2.1 support is currently in preview. I have released an update to this package that uses it with Microsoft.Data.SqlClient 5.0.0 - and initial smoke testing seems to indicate that it works with EF 6 (Classic) on .NET Core https://www.nuget.org/packages/ErikEJ.EntityFramework.SqlServer/6.6.0-rc1

[2022-09-05 12:12] stevetalkscode commented on #103
Thanks @ErikEJ - just waiting for NuGet to index so that I can give it a try

[2022-09-05 12:13] ErikEJ commented on #103
@stevetalkscode Looking forward to the result and yeah, NuGet seems to have some operational issue at the moment

[2022-09-05 12:22] stevetalkscode commented on #103
Just downloaded and it fixes the issue I had with with context.SaveChanges. Many thanks. Just need to wait for the SQL Server team to release the RTM package

[2022-09-05 12:30] Zyano commented on #94
That's great news! I'll do some test with the package later this week and see how it works for us.

[2022-09-05 13:04] ErikEJ commented on #103
Amazing! Thanks for confirming

[2022-09-05 14:02] ErikEJ commented on #94
@dotMorten Yes, I noticed that. Hopefully in the works?

[2022-09-05 14:03] dotMorten commented on #94
Is there any indication they are doing that? I don't see it.

[2022-09-05 14:22] dotMorten commented on #94
Also I don’t get why they aren’t targeting net6.0-windows instead. There’s no point to supporting netstandard2.1 if it’s windows only and not uwp

[2022-09-05 14:33] ajcvickers commented on #94
There is really very little point in targeting .NET Standard 2.1 for any reason.

[2022-09-05 14:45] ErikEJ commented on #94
@ajcvickers can you raise this with the team behandling the package?

[2022-09-05 14:53] ajcvickers commented on #94
@ErikEJ We will try again, but they have their own plans and goals, and we don't have much influence here.

[2022-09-05 17:27] bricelam commented on #94
Don't hold your breath.

[2022-09-05 17:28] ErikEJ commented on #94
@bricelam LOL!

[2022-09-05 17:31] bricelam commented on #94
💯

[2022-10-30 12:36] mshojaei opened #105 "install on vs 2022 problem"
hi
i cant install this usefull tool on my new version od visual studio 2022
i get this error at the first

VSIXInstaller.NoApplicableSKUsException: This extension is not installable on any currently installed products

[2022-10-30 12:40] ErikEJ commented on #105
No, it is not available for VS 2022 - see #86

What do you need it for in VS 2022?

[2022-10-30 12:42] mshojaei commented on #105
I want it to generate ef views in code first project

[2022-10-30 13:11] ErikEJ commented on #105
Doing that is described in the linked issue.

[2022-10-30 13:11] #105 closed

[2022-11-25 13:59] ErikEJ opened #107 "MDS PR to do"
- [x] Fix XML comments in SqlProviderServices
- [x] Add MicrosoftLocalDbConnectionFactory
- [x] Update readme.md
- [x] Polish .csproj
- [ ] Undo global.json
- [x] note about runtime only in readme
- [x] list concerns: naming, localdbconnectionfactory, MDS version (5.1), testing

[2022-11-26 12:23] #107 closed